<!--domain.vern.i2p/?i2paddresshelper=$(i2pb64 domain)-->
<div class=h><b id=core>Core:</b> <a aria-hidden=true href=#core>#core</a></div>
<ul>
	<li><a href=http://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p>~vern</a> (<a href="http://vern.i2p/?i2paddresshelper=xcxqU-MRt4gdP8l87D9PE55Ox2AbCcmfdn8m4cKCXIAVu2nuy4P~ha1qgNlminvCfHeDrrBLnQEnDR2Vk326xnigVbEVBecA7W4h3O0n4l~up31ET6~mYEl~8AliIBop7D7452W1rwbC1uilh-kwoFwplQZypvL7t954cvEIKAYs9FC-h6qak9iOicpTcYC-uu7tYW5sku~fbn4UY6LkgvBfQOSYNST6-pilQIN-XwU6ipc4PAbPgpxSmmm9FRYn2OP2Ls49Yb9BVOJXdxxZzwOyQiPHTm88TGVnbpi-ClJOWxpaleCJwCL8eR8iDj3j09Leq6HkdLk9THnMD-Rnf7sAs8W1R3QJEb3bA~f4DFmfEa~tddQkzSJvRhX9ozL1TPPhRoar1KRvH7QvCVJNnnDsvkTIofGOT7KDAzR7ldGA3MnIXzkjWk3J7jn7E2yaF~YN8jhICrTM8gFW4ZUiY21thlC1OrZr29izBwHCnSfImCIncnhlz90taheV5vRQBQAEAAcAAA==">Address helper</a>) - The main ~vern website</li>
	<li><a href=gemini://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p>~vern Gemini</a> - The ~vern Gemini capsule</li>
	<li><a href=gopher://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p>~vern gopher</a> - The ~vern gopherhole</li>
	<li><a href=ssh://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p>SSH (Reg needed)</a> - Each user can log in to the ~vern tilde using their SSH keys</li>
	<li>User sites (Reg needed) - Each user can have their own site (HTTP, Gemini, Gopher) on verncceu2kgz...b32.i2p/~username/</li>
	<li>User sockets (Reg needed) - Each user has a UNIX socket and can run their own HTTP server from it, accessible via verncceu2kgz...b32.i2p/socks/username/*</li>
</ul>
<div class=h><b id=storage>Storage:</b> <a aria-hidden=true href=#storage>#storage</a></div>
<ul>
	<li><a href=http://vernkjqjz3qctifc3ovi7s77zzkej6qb6wbgly7yu46tgtffskla.b32.i2p>0x0</a> (<a href="http://0.vern.i2p/?i2paddresshelper=ErLH4gqgq3kszXLFLEd1lEd1JvE6S7haki98h0nO7LQiUJtb~2~bKGfKf48ebUiF0ujuGPrVPFVyUAcpj-ZJfyUsIn04kyj8RH-H~uyz18QogZ4U4Saheu7Q1Aiyn85J77HIFgzdn2lSjDQiTROeQB202bZDT9-u~yQjSAxM0X9xtdergKsHWQiR6YHOyFvp6LZ7dqheknjL8f3jPU9VZUaPN--r9IV26sQfeljTDhCZ0S~y0QbFLXqVR2stqfcIftqR4AhGtp5mY-rRYpLQ6FzsS5j0P-bnI0M6RtaDK8REhSsYiRb0QcvdILvrP9BUyVU~4jd35DychZdU5NLRvIa3Iw4BFPe8JavuttHldWTbFqrmPC1cba5zj9ZufClay3~efqKHjrjA~TViIpRywA5oe02ilDYNGE0vkVrY4rv92Kd67ufCxHauqsth2TJsOAjeYG2w-xZPWEvnwEqe07vEz9wJlc4t-VyImF1MgbluX0s2SGmwyK1S7wRvEaJlBQAEAAcAAA==">Address helper</a>) - The null pointer. File hosting and URL shortening service</li>
	<li><a href=http://vernv3r2fudsi6yslyxmuqurx5pppfveqzmlqag5jdmek6ugibrq.b32.i2p>Vaultwarden</a> (<a href="http://vw.vern.i2p/?i2paddresshelper=ie9s-CvYevkDTel5I4A6D9BfwHD5shKOj7ZcAxgmTI4rR-~Gk2NPppvYwNkvMBH6VDquQIlTjI6mfvznC7fRhbVbUOGiC8HB2PzZ1fRTFzJL4DSdhF4zoeSF5EnaphQ0C3~i7FF5rkAKVXUOwqWCPOd7vTXYAUmH3xA49jdMmKcPipl-FcLecOOIWOIaenn3~3N5AtsSRQvUqOdgtaVTFO5G91OnxmjKiFCYkwDPdDyrqkQS0FWvNfkkkz6O5E-Ia-YyL62wq0Vbsm5NQWYWhiBef448YmlbZkjf9sIrvJ74vKfILlmViAoiEEzlgLzEr1QoS9ixRs1GjaAf9QSRtPQEw8r7CbK9gt4RS7h~awNlISAz-bBBnKuCg9it29GoKz-qlRi-G8WyoP9TFxFgYtG0szkX~uaicFWb1en7pRW9aMQSG5lL~7v3DdI5~yclFYTa4Z7McPvOxF~Ayk~J1KqXWm5vJmkN8yxEYkzBZTO1j-iZzCjiGPAdoXF9PzG7BQAEAAcAAA==">Address helper</a>) - A web password manager with many features</li>

<!--	<li><a href=http://vern7d7i73g4jtzmkzverjtuacjr3c6b7s5gsiud5d3jflqy4n7a.b32.i2p>CryptPad (Separate Sign-up)</a> - Collaborative office suite that is end-to-end encrypted</li> -->
	<li><a href=http://vernbm2ykmrqpkhpygk3skotirppddevw3xpkzyyxbcsfqchb27q.b32.i2p>EtherPad</a> (<a href="http://ep.vern.i2p/?i2paddresshelper=ND1JkIic0-5iWw01a63j3UYwVaIAsMgCY1bL0dPZux-ZAsv1W~bHC0p-uT11-bTqELaZri0u4cgIQnLmYO04T5NcY3Hm610w2G~vshv-x3I1ezFhUKprcDgu87B3rUz8seWNSQTuZcjrBET8CftA0tGdnY4dqXtBYCs8AVIKmTyYpmKOBa~QzJDShlQnCqPIODvlV8NBEN7LOoTq6Ddx3bcODmZJIOuL3MSEW59W-lpMxHhAewVlj94Z7E80CdYsIKs2Md2uaWdpvBPXjDTy-tdjUGzMGIQiMNOshUEJJ3o7J11G~W-OlJkHWptwiGLLjwHIT8jqaDEZPnRLPvjDLNB-W1XxhicRJbPB0I9O9ry30tFyfAYhvGmhJ2qn8fXcU4EHBGibE8AM76eceVQ3JbSf-x5bCU1p2Rfuv4ujBS7q6Orz4W~76mhD9ldnshojAbBKDqlxkk75~yzWorSOf1Cu~fkYtdNfxlfR0iXr9EbVqF9IQG3~nX1ZGb8s1tQjBQAEAAcAAA==">Address helper</a>) - A modern really-real-time collaborative document editor</li>
	<li><a href=http://vernj47t2vz4qiobsrcaj6eqhaquqe5qsaejga2glol4b2snhcfa.b32.i2p>Gitea (Reg needed)</a> (<a href="http://git.vern.i2p/?i2paddresshelper=jbyKaMQm9XfxKotbn7ggscd-BP7OVvYMfKna4loWx8fwqhGvUf1GolfSZ3lPtmfGKEnNTSpKekCWx54Fywxi3kBBGLA8IjKHvpPARfvPprxkSQaHy5rXIKb5p8W21Y1HR01TZmQo00vjsq7zvNjBJNw4a-zH9e21USDBSlxw-6K8pmOGyTZeGA1cQCQ-UCj59RnIuav2bIFATcrbJ9HRPkN0WDtD3GEUh5lW2xayaqmKdrmu4~os4-y1RZC7a-kDz1TpRxXOCXCdFPaAGf9nD7V-WSTLp~DajdMVq1eexFCsdxB9wyWdh6pPMRqGh7ATB~VXT-1BRTD8VXk0cO-k7R0IZOXJBvoWhjbL00RWGt3CL91r9kYvmNw-RcUQI9G7BpbZAKijzYjZ62PrFGfQkwyeLgrWr8o-pZ6amsmcrdTUaUbf646T53hxXic28qoLgL70NaEPrzxHj5psWLiNa5jMqw17LqhKV2fZhCvazWYMY-Xhy8bHZdX2goAcdoqaBQAEAAcAAA==">Address helper</a>) (<a href=http://vernp46vgdvbfjlxibqbmlk2wxckgjvnoj5ixjdkdr2n773mra4a.b32.i2p>CI</a> (<a href="http://ci.vern.i2p/?i2paddresshelper=Ep3DCvyNrxB7DAHqFZqXAbhFUSnFcUVe7Lj7JkbnoMmdY~j~nOhF3PISq4jyv7LS5wFi0aGbzr5TVDUXXCLbSdPcmj9z0z5QBT5rG3Za6GbaQyvTxquTostiCmt7R2gdyfOcEXhFMjRxNr6pi9aRiGruKJRmPRtq1anVt606kpolBwrwU24KneNWk7~YkrV2Q1VmSAUyQBeYmEbI~wcgj6e5j0hvTmGLiQINuiaePSG6MSdavNsHJwBYslF1OLuu32luLrtuLaytdNAXVafXoRrmj2K2O9duI94Ni-ePndsV0IP-WU7jFBSQmQMjXqcOEwRESEQNcA6I2Au29Z0zBSr543KUY-X8WXzmyCbJQchwaiFKuWhXE978HcTpX5MYO7zW4PB9ipOJAttC0M1HPf-18TmEF7fvcgRffxUYXKI3f6ZBPXU05T~mK2KZAX~Kk5UWHs1FhUWXz2jrESgvK7PQK3H3x6iXvu0bOCSgVSvz1G-cNQXjpXhqHSyqnq~uBQAEAAcAAA==">Address helper</a>)) - A lightweight code hosting solution written in Go</li>
	<li><a href=http://vernfy3k7royqfe7pg6wgzj53ipltd5nb4acjtjmwgpqrkxwmcla.b32.i2p>HedgeDoc</a> (<a href="http://hd.vern.i2p/?i2paddresshelper=yRu5ne6-ZmziLPEDmPWK8QEoi7R3n-sR~AGEIqpv42IXBwT~Q0knQHtZFdYVZf24TzVr9FabJZE9FjAYZQx0aozpdl7iA~aBa0KjTyCwuwjyimZmAnh~UrGD1cZ52myV8LtP3KavctakmaFe3f1JW0msJiqnsovI4IBsK5H80hnPO7TsFOBamYBRUQImdRGcyIgv4QewwvNcOZQRlSkVuVf0UKJiLa7qcL05ZL4gHlmdTdgX9spB2gEqHXR~6fY7ASyM3BW4d-eUR3cyOd~hHJOnDkuyLPX-R18X9YwUF6OOusuX55X2zOA6ScVC5A4LxLSrqdq3cudv4t2PHsDwbFJ~12dIBoZiuKtYfomfslSxpQJGfttjonQ9k-u66UazReQBHENBNIOuGCA2CfYwd01K5qwsJNaHtaCHwb0YqSb-m96EIGA7P-nIigIn65JgwlcayDvLle4G1v-D5s8YOafVNX~j4mm2bUYnifyvuKIwvfn13tivNxpn-uN8JA76BQAEAAcAAA==">Address helper</a>) - Collaborative Markdown notes</li>
	<li><a href=http://vernxqcyexg5qsmtel4fjs7f7o6uktrqwuhqc4dde4xf2l5v55aq.b32.i2p>Mirrors (HTTP)</a> (<a href="http://mirror.vern.i2p/?i2paddresshelper=c-3xw1EWpjn6mRoORybYeiXQdFXbFdjjrY2NXOol7rqZOuFtMvmZhWgiJE9WCG5bpqTt~aA0u4EkxGpekK9aae2NjXhXHRZ7DXzjiXF4mnwbxGEcjzROczmGgvzz7AZDVySWCak-09AAd~AMAGPFsIpCIBxFUG~-H8hkYNGZUreP68ZQv3D3gDiu0PAi-8A8Zxc7u744ZKKiVru6NOXGtrxPjd1sdy2Ma8yUfUQcfArBAeyLoZSjd3CulUe~Mxlc5au5FPCtt-nOHKGxdur~hGMSSxPs0hbgxmaX3qb0Of4DjZh-aMlG-Vxrd7OdVQk7DNzYJskwz2DeJUyKjN8tNsQXQxfoBj4lqhK2eOm5lbDqnew6AeTpy8fLtrh3IxZrfGaHsxFJUV~ToxgprhJZsJ752-SXEOC0izi0ZnP8ZGmY4~Io6YNKlb4XucyA6qnd7EOOyfsIpOO48Nv1By6VAL9Axd9KEeKmILgMKqhIGrFWpNis1zbuDP7~WlqdnGhxBQAEAAcAAA==">Address helper</a>) - HTTP mirrors of popular and free distributions</lI>
	<li><a href=rsync://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p/>Mirrors (rsync)</a> - rsync mirrors of popular and free distributions</lI>
	<li><a href=http://vernyvyqme7hnsfmfty7s7aawpndayyfbbydqlfewuuemzwh332q.b32.i2p>PeerTube (Reg needed)</a> (<a href="http://pt.vern.i2p/?i2paddresshelper=zZUALEjFdSs~yKM93yvcP3X0RpPyOdULlX55ANZeLp-FRboGqg0QbuER2v-U7VYP5AwRDCNy85WHYChF0ilrnvBulexFi~J72nyaHXl2NXJG~KOebsO1Xk5Lw-46CN7S3FBeTVgj7mN1mbhU1C60hJbENLzyz3i5Q7fhYONWFsDEmephRkUTZofNLJNIPC18QtLjPG5WQrYVa93IDnv~Gy7DczXee7RKcXQVVd-4bftmEJ9-vbWF~jv~i-25bfziwhNEe8b1fwIGiLsc2scVYpiHOXhw6Zqy5IqsIJdXBBTyShp7jhAq3XdjuzAtovUxomPVfb9Yc7YlXfrpKpyxGX277p--GtUz242EQ8fZmAMks7pZfvUWskYbE0PNKu-6eYi9Aja7zQWMV3UQLJAVyVmZgN1SuKW-DbOT-B7RAvLNoHUgAbvrBtutRq3-VBtM0wxlqTGzMlxDPgBz-BiMbMDn2x2fXQIVwd2Pfp8DEH9iumJEFHuzNnyFYsFVYHWSBQAEAAcAAA==">Address helper</a>) - Federated video platform</li>
	<li><a href=http://vernbrpw2ivyireljmadepiwl2zwukfs3qq3neqiygdzd2swyb3a.b32.i2p>PenPot (Reg Needed)</a> (<a href="http://pp.vern.i2p/?i2paddresshelper=8L~Y3dQy0EnC2e3T230ZTu3LHwVlZZLqzoKABS~jciAyCmIDyZms4Wv0b41t8bM2yBYNGgSm4Irl~1X0LnmTCRZy1IpohwLWjeoTdBCuf-CBUF-9vO-WGotGrlIvd1jxpI6Q4QwDl5dRJWxbZArHASRzMt5UA~Xtmv4GOsXrzQ4EV740ejrQsArqYlueET3LkAznvMCMhLdNlz~jvlhxFPbJZ11drExJNeUfbJZn6HdaXR6hJlSiN-2tPoxiVfbeLicWREpfAjAIzE2lLBIjNC7l2kpMbzF3PBAP-7ALKHTOr54Pkg-G735DKQLusLwL9WKytxNIXcKFc6mICQzalmdYQk-QJN336cDf4nOWiczunS-kd9i~xz7x5OttIpShelGMal~8cwHu6r4z8tWdC2dcijKtnkKmn6Mc-j-d4Yk82OlookDQPbAN-qhO60UiMyCjJhH4afI0gaoh4p11CCPvHyD9ktVl1FjIoLMLGqqR4iDd~sRiNQveJLebuQAYBQAEAAcAAA==">Address helper</a>) - Design &amp; prototyping platform</li>
	<li><a href=http://vernmeoccnhag24lturrfxjne2szacraslpbg3v4pmuv25gwb5oq.b32.i2p>PrivateBin</a> (<a href="http://pb.vern.i2p/?i2paddresshelper=2DlPvsYohP-mapAHwl~s0npqyNqdqGnOaZzT1sq6mvjQ9YjoODkdFo6Sl5Z1zAabYP5lgDxITPK4UBJJnZzXvpIIqN1TKS9KO0LPF4WvsNol2rO0l-gJzUbICn~lxnQ1cmPPBHK78Y1kfBh0TGJ5aNEZJ8RXKagpx8MVN8gSNp-t8y59nTEqEjvVYHYD~idKv6oOdVBx1AOoeB1BDA9lA0I2I1XKqCfDzj2Zw6dVO~zjGYELHTBF6GQ99DQvIZ6BkBk7cPpM5B7aBqY3VemWTb9gpolmnrRHgKgqGd6tRtmqX6zyn~LjIQjMa45A7Y9RFo9YQuAWJ1-xctfRzlt73QczgYKClHVsqY1u2loS0T~~4xWfSoYogZvCFGCjCugLTeXpaz~3qn8PSMEPjL2lUpOyTU9AxSTTjpVnlQtr8r-RYxu~S9jmL7k-15DmPCkw-xkidU46pzevnjzoOuGJZH7SPqtP5SVaL2oN64EXInM19Oc1ngonV~XmJL4gpb~SBQAEAAcAAA==">Address helper</a>) - A pastebin where the server has zero knowledge of pastes</li>
	<li><a href=http://verniioll6ezxh2ns3l2hbt76zlklmwqguomnjgg37olnmbhgodq.b32.i2p>Vikunja (Separate Sign-Up)</a> (<a href="http://todo.vern.i2p/?i2paddresshelper=hnOyH00iZ5zMJSWnFfcP6Xk91ZzyqNCiEMbr~J32rVFZWoHSG1vnhd-~JJ4nNT-0gHgx-kxmAGQgTXvJkiO9Y~mFuqubSV-MAUsZiTTt5bn1jX7hSwfNoAIO2dSktvgrngKMIHckgW06OxG~e~lab3jRuetTwEI~tjP5doaKiL8w97mHDbx1MpmHDARk76LAuZ7UtoHxTWbOHbOBvusCXYydammIdDCpGS6wovnEK5mtvDAvpBMTOOhVmorYPOFYE-WgWRTVGc-W1dupB-zChcQhIhNYECqprSjCcfUPmSYVVoJCUghxu8L7LfpSoohmI-Z-K1ulfrxVkYW5MeVDrYVSUah-Et~RHUuOwVOcM9ScPqowAXSHx~BZ1zFNHGMgoyzdZEpgs2ni8BQNu2ntNTJLl8iLznTlGD2MqVVKXGEkf1kcnaOLMhgXosToWoWIS55mbkvsjFN6DgT5eLShtS6jw4Hue~Ei919nBL0TPmov0oD5-XPjpAg~pD~CHL-oBQAEAAcAAA==">Address helper</a>) - The to-do app to organize your life</li>
	<li><a href=http://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:8446>Syncthing Discovery Server</a> - Peer-to-peer file synchronization</li>
	<li><a href=http://vernzluj2od67vbf5drxxrhzekslgxnym7zc3mxgx7tfqndgedha.b32.i2p>Nextcloud (Reg needed)</a> (<a href="http://nc.vern.i2p/?i2paddresshelper=CDzcf6lS~gbNPNk4ABfkhizLfvKYnenpyjnKqyPF2H4nF1L5G7dNOCxoHQIKuFHj6MFBoc81C-ojSveAuFf~lYz3KbdrkyJR-DduNJ8jn0~YQ4rmmq31wHCMZJMfvEKnZ5YlvbnWYceHWti1ry6SsdVhZ~CltS~usVfWmib4ckZnnSAH9yWzA9kPWEvKyRV~SnhWKFU4~jgbymdy9mOR0HWbSQLIGUzsQseQoXS1l5P8wpsK24lQtounl~BJUAcgSuI0T9KPmOmwkPxoKId33RnjteUpB67AmXLFchLtscRElA3v8SJRgdgYeDVHZdTBjYH4bHLRgoak5dbOlYZjRs-663z5YX-kNCSzTH2NbCE51814MfNGyu3tYioOtIGx5rfv3ZFzFtUpKAqpJiVPEpWjUUJydiqoEp1n76fPfrAmNGdnqg1TMn8DbAGWd5ohe2yumrwTIzxULDuuUhvaqRJH9DrDxGUTBSAW4fI0fsP7fAHxXYb2xLUZxfvWtEYuBQAEAAcAAA==">Address helper</a>) - A productivity platform that keeps you in control</li>
	<li><a href=http://vernvx3w4jkwznya72gnslmkabthu6behn7mlfunezcubsjazaxq.b32.i2p>Ntfy</a> (<a href="http://ntfy.vern.i2p/?i2paddresshelper=KFLGe2qXdauZnNkEDKZ6UfIWjFWSSaNbo-OF4z~saWhxkBAcKrDXrQvPZHDG80M2XtyTTp0RFS1Iq6VJpwEFAnT7VaS6v780NSWNBhqH-PQerCnFYNxzjYAtfkF15~utw6Sf6CgGLXla58-y6wDucQHMVjYJ8g--wqzul4aasNzlcwALd6F6GMXpNpnMdAk52l7bQ~L2G9dR2oDUGOgvMHWGu6Y~5aJsyX3~AgJV3Kkl1U~srv5W6IRkU0T-~UbmWs4oA5IsVn~Yi4~suodakeLMLnJN0ntkMJE7lD5ufw1WoDwN-2sBiWSMUhadD7N8A-lhiTandKWfS76bosrZ7DgYmbcSDQ3xEHcs7oXzXi0eP~zxLEEhVOVYBzGUgd5r3hH~E8lq-SYl6o4HOLRqy2LJgtE5nsBvuwquO0K050hDO0kVYG4j~SDZiivHMX3bDThu1KoUaAXZcYDeNaY5DfRAZeh6AwhMBBiJ6kLwnAMXebth8YCfUloofeD8K70nBQAEAAcAAA==">Address helper</a>) - A simple HTTP-based pub-sub notification service</li>
	<li><a href=http://vernaaamyu2hcxaoscotjmivcqhqdn77bbftpbilmrbcxqt6f32a.b32.i2p>Jellyfin</a> (<a href="http://jf.vern.i2p/?i2paddresshelper=uzXLJpLK0bRubdVZpQewWxIoZhIXJC~~8H5djY1zU6rN5V-CFzdADLlaCpjts2bLwrbjUN49cHzd-lI-LOBYd2HSsiFfrgj1MugR~qh0FPTX2AONR14aT4O~VNJEhf~hKj0vUQKT1zLJ~KQ3P1IWpMSE8tbZZwu74CE-jWE83Ugy62z3Rd~7JGWSxsWE8bxf34kpRmwuGvRTqHIz1rylQlCcLQiMbYG71SxlP-IjlbB9mAfwZnrl0r6JENm~NvjQhz4clu7q~0Pu82CfU-EuYwBmg3-cVdKdTAU18sL-7L28h~96JK~0rslyZeD2i-Y~KfIP7GEuWkvT1Ii0qmVKg6iZI3SRfo9qHlNJWYEUmC4NsQ55JQXjvvozXDYiN~0e-QRedXF0Vni3tSOIG4whI6Z8jkNz9uL6kyzRZbU6~tcQKGBUGu83tmY~h8BUdeWk5fTh2uqYZnPtbr9cLyVRJn-680n3M535Ej6Rdw7gLX6oMFRfZb8g5nzxpqNbfFVKBQAEAAcAAA==">Address helper</a>) - A Free Software Media System that puts you in control of managing and streaming your media</li>
	<li><a href=http://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:18081>Monero Node</a> - A node to support the XMR network</li>
	<li><a href=http://verndu4wjpud2cs7yoqfbcoorqn2nwajuxi2qdoas2vg4zdddf5a.b32.i2p>Hat.sh</a> (<a href="http://hat.vern.i2p/?i2paddresshelper=nOfagmGcpjhd1NHhzIlV2GCGvAMaoQOEzD6hRUcdcwuabA0Zo~5u0-~gf6vLeVGWgAUHpO7QYcaEw0ddmAU~YAZ-AK95ffgeGyosirOesKPN-RUR3mip4GS7tSgdy8xdR3pimdAqRAAjwoa-3CthG8PjzaFrz3PPxCvzLgOSavVmc6m52yW~aB1vLbuml-WAhc7BXuCraNbfFHDj-8gGjSXyJni72F8sQiB-9U4tzdP52etj3zgvZQaUMI24~nsT6cINDCxRJVF1AVcf2493RYJ2WhOgvlriJq6NrLMQ92PE~dwTaW1QbMQO1DOUm7MPmTtOSuCPo8fxOPDsf-OIG03Tw2sGPIEgY2jZ-j1x8R3Wg4AWIlZOcCu6L6qyGVG4SifaHVwshrYsUjaoFghZ2vUZpahUbJoRNbn55fOepD364qLX4gVPnGeVoUx8~fhOO4xX8eeVrsfLLSCzWY9CZnutktd~PWw0nnjzD2em9D2IYvONifCPzYbRDuAC2v0iBQAEAAcAAA==">Address helper</a>) - Simple, fast and secure client-side encryption</li>
</ul>
<div class=h><b id=network>Network:</b> <a aria-hidden=true href=#network>#network</a></div>
<ul>
	<li><a href=http://vernpl3z5syo5sblwnna2v4ktdwjmdotbta4346zekfi64is7idq.b32.i2p>gopherproxy</a> (<a href="http://gp.vern.i2p/?i2paddresshelper=7DUsfYVDAE2KcWKBdKpt1y5nJCCFcq~jnDvBG~xE0rkLpaUreczMb~qGws39bbW594AMFaj8CkR20C9Gff2l3-rpxLkdE-PI4caCp1SLkBNuXDjDrIcnt8PnmgFiz5jhZ4jfA3pi1uWL9H9YW1VJ~vCexUIYL8A8XQit17dd~Hyb8pqWrhd4qDmKROyMUZj-e4bNv9BThlbb2Ep9sYsatz2bhko0eskuZBK92-ZEnq7ez1BEwSfCL2gR14OEiB2cs5~lyrNt~WVfPwif9fYcx80T~Wcpzd~-d7xDgoGXieQwmvM7xbGKygBoFEnXSaePBFukVreCYPlwNuy7caGg-YVdSUxR5SdqrbzoWq2d29NhLTxpB3J4tEPCezF8Zz~oxaEIiqP9oPDgXAu3SfULJrS6-I0hmuLUcPst7~4iseoLTT7WIAUtqxtx6XyWLVCLXsTdz39PymHQrmfRlUgQ~v81yPxGL7eZDUiBmXEcfTgDvT2js~oVnjQ5~WNVepP3BQAEAAcAAA==">Address helper</a>) - HTTP proxy for Gopher and Gemini</li>
	<li><a href=tcp://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:5201>Iperf3 (PubNixVM)</a> - The ultimate speed test tool</li>
	<li><a href=tcp://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:5202>Iperf3 (tilserv)</a> - The ultimate speed test tool</li>
	<li><a href=tcp://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:5203>Iperf3 (Typhoon)</a> - The ultimate speed test tool</li>
	<li><a href=tcp://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:5204>Iperf3 (Hellfire)</a> - The ultimate speed test tool</li>
	<li><a href=tcp://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:5205>Iperf3 (Iceberg)</a> - The ultimate speed test tool</li>
	<li><a href=http://verncfvtpzdyrq4iy72nsv5tq3tmoxblywsxg25v2eydyao4gkfq.b32.i2p>LibreSpeed</a> (<a href="http://ls.vern.i2p/?i2paddresshelper=IzOzsqqWFpQJPtTwFmFW61e7CE-DmZsxiGr9vzdSU7w~wIysu4NLjlZWxRVMkAcqN0N1ocFK3aoUyFQ1OLibT0SImza8z3rw562sR-1xKOIcTNDzQPZrnHFFp-V-lcWk~SsAXy3I2n5lkFU91-M4hweRTfISSueKHnD5XZjznBwRkxGKqBCyfEQ02IEBGsqTL0nVOY4733SkC5mQDVcAU4iq-jrT7aH~9RL6XjToQB~w4UmJQltRJ5HfSKyj84obW4k-CvBG7fcpXXzq7SNUghJTt1ExrC~zjIrcAYxmehFBRogFi57k0diKMELHmDFr7WrghDYK3BsXw1AWBcZERRlyKGry0P3jXbPbCp4hOQpcIB1O19FVre0BhUqrBSEA8fE~2gw0fSXCuO3w2H~LsKIToRddnEA0HbkWSy8kYrrmU7eZq5lOHlL2REiecYO4MO13SgpHBAtkLAjGo-ml4S1Cl7qrZ67KG2Q9TBooDK~6TTIiUGB90vWn2u-yRNSZBQAEAAcAAA==">Address helper</a>) - Lightweight speedtest implemented in Javascript</li>
	<li><a href=http://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:6969/announce>Opentracker</a> - An open and free BitTorrent tracker</li>
	<li><a href=http://vernbzytqve2yzdud5pndkhwnkhqb2vfjtu7r42tj5savjrabsaq.b32.i2p>Spyda</a> (<a href="http://sy.vern.i2p/?i2paddresshelper=CuehhpOCePUnKmgUNgHBMaFCImB3sdw5EiP7xC6VbUFHsapAmx6SgTLJLdqU9ryIHj9iul5WQ-0YuOhRVvDzL1C0Np2DMFUTn42AVIOG~kEgz9fdtPfvqYZJEclU9Jvxza3lsWjiWbjFQudnEJHdgIQbr-Bm9r2RqCa5m4wQWUFs7IFQPPELwVYlLa-v~8CLJQliMtPlGoEfZ0JZpf45mNO8G5Br9ST1jwAzp0v1spORhNOITa0EO9KJ92r83Y0F1wsN2qpGmqa~lvbd9wajxz3lDsE2GrsjjXKkENg4WNqDep9HEz3RR7AtevZv3QsrLVuN-ddB5z5NY7tsvQlWQ2grP7rE3eHatd-r1i9inpyxN3fS7v3Vl1RHyi0PBMsCPfwKsl9n0F6ObVhuJrfUwz8JcJpJlDmEZM-b7ZHeHZpocNRvnDgHUbZP54-E0NOD0tDh5cWS7GDA4JMKLcBNeHu5mlbK9a0OdtO49QVfPUAMXAG9-ZvujcefZBk3c-JoBQAEAAcAAA==">Address helper</a>) - A privacy first search engine and web crawler</li>
	<li><a href=ssh://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:2222>tmate</a> (<a href=/tmate.conf>tmate.conf</a>) - Instant terminal sharing</li>
	<li><a href=http://vernxiu4oiyb6t2impixu7kqot4irhdr3pzmgszbaxjbpwblapeq.b32.i2p>YaCy</a> (<a href="http://yc.vern.i2p/?i2paddresshelper=-4e9zCXiFpKjynTN7G2AxvRuDwaEihdw8AIp03zZAzKaugyqN45XCsf8TMQISP8sUQrxrMq-mIvGzWFxgfVZYa7n0NIyIjqYqR0Y-~YG~c9TOLc~sIN3pGx18zW5ljA~EgTEorZFoDEfH30FhrArZ-hoDFF3Pq0SKd3vpJDTgX4j3SmiX-JXBJjr6qi0mJOp991o-QtU5Xq9Qg~Ahb4ads5D-54eZN2HusQVRWqn4~nS04cJ3nJYsYUxaKSLhPIi7m5XDqPpJVn8OXaS3XiBsXfW2~J~tut888VA7ZiS9cXboeBLujKfKvUuqS5aT2sZMBZD9-K~6RfgdpK04lFlOZmXigtS2XwCBYYGn9bnwTiFBcbEYGem4shglXoCOrH4XWXb3vSfg60NSPfIc4iRaSdGK~bmtScBz7yZg9SNNEPYVyCLAzcPhvQoR0t5f3s42Kdt6FS02b5JWvDQ1zeYykhjS-B5JA3eQVDybV4VELucXyO5UtAodPiv9YLcz-AMBQAEAAcAAA==">Address helper</a>) - A free distributed search engine, built on the principles of peer-to-peer networks</li>
</ul>
<div class=h><b id=games>Games:</b> <a aria-hidden=true href=#games>#games</a></div>
<ul>
	<li><a href=tcp://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:1234>Among sus</a> - A recreation of Among Us mechanics but as a multiplayer text adventure game</li>
	<li><a href=minetest:verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:30000>Minetest (Creative)</a> - Sandbox video game and game creation system with focus on voxel graphics</li>
	<li><a href=minetest:verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:30001>Minetest (Mineclone5 Survival)</a> - Sandbox video game and game creation system with focus on voxel graphics</li>
</ul>
<div class=h><b id=social>Social:</b> <a aria-hidden=true href=#social>#social</a></div>
<ul>
	<li><a href=http://vern6xwzdgt2l7jhgl5dyv6cqjfhd2fnbgbm7i7cd6ssfboqra5a.b32.i2p>Agreper (Seperate Sign-Up)</a> (<a href="http://ag.vern.i2p/?i2paddresshelper=ClPMv3wbqTXhCSN4ss1Te-SDtw3XXyzxKvWWzCvUAWT6jJY1eNZ2caiTOHV8a~lBO133ZTt1ck12L3dw~6g4hrjp-Cn1QsjnT6d6U8kSmMtK4ZBICN7pl1B9mBh4J14aZletIhSlCXKmRXQZN5Cx4dWeF6LomjEMBsAmR742Rzthmpr-AtfzhMUeQ2sT3S1HU~dXF8a1zKhIlVssvrh2cPaCCeUGJNaw47Q2xCjocEtF5oahXnw9sz7fxCBbHDt7J3OYqaMW2J59VqcKREH-xSewxS-ehh~dqvjsciGbqqblCGtGOC0bHZ2Nwuhthsgo7RifosIFZHA9-n~hBMMZ6TbuPggnZEiyflDXXuf2JjHPaoJdoE2XcMXx0-MeyPcVEECr0o7OSV6NkpB6r3znMiLoomWaf4ZeNlnN2EWhY5477nrjq9OhHhzMTpoCCS8CzzV4AkO~FC9qT8ZgGoMxYQ6vdkSg0WnmDg5fU5WXl7Afnont-5mmyGoH6nZPIjIzBQAEAAcAAA==">Address helper</a>) - Minimal, no-JS web forum software</li>
	<li><p>BBS (Seperate Sign-Up):</p>
	<ul>
		<li><a href=http://vernv5abwkzvlzneqto7x6vxw3bwdmd3emdnb4xuvwykwlghwaea.b32.i2p>HTTP</a> (<a href="http://bbs.vern.i2p/?i2paddresshelper=uHOhKwm8O2eCardcnhSpaKM-nqwl4hX89GwubpbYw4ow5YFPPyzTYywTT4HGZT4qD6eo~rF3HoX3W-jazB00Zx-5KorB45g7sOdDFzIFx7FraO~wYLyZ2U2CVTDMfbl5Pcavh5VG0fxpbJwFuzvZNEnj3NFxzZFOXy~leaT0b8W5O~bPppuiZvJh54Df4PSueN1FQHazLAqxq1vH1GvyB58o~bv5Ep4MjcNHrXKsLYmRrPZNVKZHnwqgyqSZg61FMcpGEZE84XXBabp-kK5ytvE2BsTDb-e16shjIPHpzxX23LUHjSiibPeqvW5Rb4KeVm0P7niNtgW~m4qZ0DuhOBx62874vmtMT8wxoOlQqmSCQKJq25ZdhegHzR3~k~VO7Yvmsh2tABULfcbfosUjLahQIDMomF2xP~qUm0JiN5ALKCZnChQNjWh~AgBfsUnEZdW-LPI0qDeZzYj5hgEyq2aPB9KbM1LTFO5Gwa7lTdZK3XLWS~WAgKighvLJPYgpBQAEAAcAAA==">Address helper</a>)</li>
		<li><a href=gopher://vernv5abwkzvlzneqto7x6vxw3bwdmd3emdnb4xuvwykwlghwaea.b32.i2p>Gopher</a></li>
		<li><a href=telnet://vernv5abwkzvlzneqto7x6vxw3bwdmd3emdnb4xuvwykwlghwaea.b32.i2p>Telnet</a></li>
		<li><a href=ssh://vernv5abwkzvlzneqto7x6vxw3bwdmd3emdnb4xuvwykwlghwaea.b32.i2p:1222>SSH</a></li>
		<li><a href=ftp://vernv5abwkzvlzneqto7x6vxw3bwdmd3emdnb4xuvwykwlghwaea.b32.i2p>FTP</a></li>
		<li><a href=rlogin://vernv5abwkzvlzneqto7x6vxw3bwdmd3emdnb4xuvwykwlghwaea.b32.i2p>rlogin</a></li>
		<li><a href=ws://vernv5abwkzvlzneqto7x6vxw3bwdmd3emdnb4xuvwykwlghwaea.b32.i2p>WebSocket</a></li>
	</ul></li>
	<li><a href=http://vern2c3ryms73cqnxr3plef2npbwlg5mx75wigd3fve32m5iszya.b32.i2p>Akkoma (Reg needed)</a> (<a href="http://ak.vern.i2p/?i2paddresshelper=p6lAOV43WMri0BJrgWBDu5eF4kG0VZOzcr~HDxKPXpgXS2QjDhU51l4qaypnTY87Qgp-zRykshbkN-ezpHv-0~j0A7bamnczRkabw2OCaFfysUUrzLsz5Z064bDCVdsL2OAGLZREgMa47whcZCCZwon9Xle2uak4YSehWR00lu8OKisX4KR64R1MsEKbYJi6BbJ1p4WhIeoXS6pZG3R0Y~1M-MtjXBus3xbFdR9JIdiDsHUu95lE6AHFpxBJFSeb9FcIRXbKdiqLsv7ZgnVhdRbEWTlt8zoVbwt2T1VyHDVF4XUYOvFyP3rdOkmMt3aX3U1A1ieZSW1fCMF0mxB0W28oW8t49828vpO1inX7o~gPOGN2jR7iiVdjziAZT5RHJ1bvrjzlAv5Y76rrqH3ewz4Rc~PgX1KClbNMV8UBZSuM8AL5Gs-XrEXPIc4F~9gj57PQbQL1nbD6IUptXno8WGPMSEWRp-0IYtqAkTj08nPy4ZmT1uSiJdblAvOpJ4xLBQAEAAcAAA==">Address helper</a>) - Social networking software compatible with ActivityPub</li>
	<li><a href=http://verncc3ifybf2wvag5sgjmpsdp4lcv3ppuvpnlihcgffuqytkaxa.b32.i2p>Mastodon (Reg needed)</a> (<a href="http://fedi.vern.i2p/?i2paddresshelper=I0G02BU54GgNjv1lATSW4mNgqW3yDKfxfTDz6r05GYjqjnKW4GVyCMeL0dEOCupmkKFBPCqgO1QXp5gvHTP1Cet2HzF8EHnTMBMavVCyea7m0YB4Rpwvl541Qnm~WgRhomw8kZ4bkHZroAhcFUNlggmd5o1Dyp5nku51fey2aWEflbJLyn-agQu6Ks1SlxUUrGqQvJ0z0SBcl9qGlcsqNuPiHIBBV89J~nGtzAaLPZe12XHm6h6unnih4Y7Mvp8CXbpyxLgvJW-vNtO~ZhtQJHpksT6byfCMVdhIVdP9WBfM26FV~l9wTn4gRncwmehuCekz3c7djcWhqEvl0Im2PgbXYvqQvwuo3at~vH3osW0lA42n2aQam-IFg~ur-dF1YR-pD9UWCuE4hrt~IqpGVgtwT~z9qcVwcNcO4acF7jQ0tl2PQJChYExBrqUWtkkmHkRIe7~tqR43buVqYsTV3QzwBRn1xkRjV0oLZeWHidVPKSt1eZwzWVOiwVwCC0NLBQAEAAcAAA==">Address helper</a>) - ActivityPub federated microblogging plaftorm</li>
<!--	<li><a href=http://vern4apuwvw4xtfz5dzlqpba2gcs7d3lqhs2bzd6j466wjxoynba.b32.i2p>BloatFE</a> - A web client for Mastodon Network</li> -->
	<li><a href=ssh://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:2221>Devzat (Seperate Sign-Up)</a> - Chat over ssh!</li>
	<li><a href=http://verndnomc4cnte4aw7yrfpse33vrw2nlwoxozxmf77zqquk6ea7q.b32.i2p>Matrix (Reg needed)</a> (<a href="http://mtrx.vern.i2p/?i2paddresshelper=1ATSqOgxS~UM6ayZlndmEDctaIUBilqjgbT~9X0bSOC-hGGye8ybkjrLK5BNvc4YXJDrLRcmzUnncUFjiDYfQrHAvLisCkxAwLitVvdclkC8KjK81JRXCg8J-VXlVLXelpmqsq8dj0qK3O1WqK4Q9Qwcs9EhFt9qlJtDBJgGa~Ih5R1Klujv~bnCMjCsHlN4nYv5Mk1a6hEM2h~n0KJUR3vPw5fncS1IxVDj7gYqUFtEf29l4jNzYf2nBfQkXmEv62gtRvcgyH38ZlF2xUmUELWEu5VjQiPSatP4n7qTiGgaTdIHDFw0QkUE3JSiFG0UQ4euD8pqpY4u6kD5ZNgSDA3nrqH1Yjy42MQTXGCcY2FCxWYFL6t04s4sVSf1yIfhcz3KMWswyO006cSKY1hizRJNbMN1ehU~SAEBOMM7YGzHX-Vjq8C7o23Q82YWr9ZVYButqFrtLNh3t6O3bxGAFNVRuZ9s2DLRqqf0nEM4TWmVCv2toxJ7d97-PvljJb6oBQAEAAcAAA==">Address helper</a>) - An open network for secure, decentralized communication</li>
	<li><a href=http://vernyaourawd4avjf7ye6g43pqovys5wqdr672kervjpev353klq.b32.i2p>Cinny</a> (<a href="http://cn.vern.i2p/?i2paddresshelper=bmZ35l73kwcyZZALT8SlEJxFfu21n~8l-DhqdsVYLlIJfW13oie-aWFTBn7pt7jD3OwbBHoNGn3D-zKyThHvM3bo0rSf1IBjAuNfG9TEVuAZCMEfkJO6mX-xNrmuR3QVxvU0QdjyYLc8ffWUC4EBD8qhH8FnjuX9J9GauNEj~TyK4yVNBi9N3rjKIMEgLujvkB-20huXzSusATI14kHVzvBXF3syPCGMGOVk~0SumotoKrfJty2qPIJUK41S7aPKNWL3lemgMJl-z~mf2xt08tCmmIxCevWvwxJr4flN9XDCBNebLYbnRgaSXUFQF7brji12Nq1J2jY4D0k2HJI8ONqiHUVwEkEUlzmjsH5lDourrtPiT3TCNnSdShXPfcK5EcFjhBM3tMx7a43x~cfiIW9aWjVPbAdXADEV0~~eqOlpQZ~cbltFJOylfC7LWdFZBfTJl0RuiPgJ7v91M8H2FMyrvb0yTjFgbVdo5VXoGsXU9czjbDaQaVkjb5hFphBPBQAEAAcAAA==">Address helper</a>) - Yet another Matrix client</li>
	<li><a href=http://vernltmkmwexhk77dlxmqlet3djveje7gcq7lwy3l5gkemxysy5q.b32.i2p>Element</a> (<a href="http://riot.vern.i2p/?i2paddresshelper=tIFCCt3PsoKApYkoV8Bh0ovENtdVQutSRlMlkZK2smicNi0zAJQ2Jm9d2BhrveT6wx7TUmwcgLxyaNadwUuycMjZfZISXyyrOXYLUv-ebXKvzAnXH3OwAGWaLQrlw3dOFwbybzL-F4J~sTCta~VXUPlRNQNRJqgc4~~6RvbX7XMig4B6w3yQOLQTSxrxAvS4AwvHl7YqxwO2b0~GtojUlOp9NvNj6JGlPvzzhf~zHH-Kzx0ImxmP9du2yYaDkPZA9XMmMYv9mQHJpJuDPI4ZgoycduTmW4t~Y9qWfA3DPpCTbgLIBP1eqjRtQq-VFg8-v83Nk5zIMnbbVyoj~kScOF4zTYCXWfSvJiOKTZ6KajYVBxrPmx3mecT7beAOYOwgL6rTKWXSK1U1hA-THHKlPVldv44hwdXt21lKSppvmZ59U6ddkFR-uctUEdyiPhHznRmhW~ch5mJPGsMqT-SB~TkbEQK7YpAcEtsBHc7-0d1-QVBDEsiihU62tJwT2dfQBQAEAAcAAA==">Address helper</a>) - Secure collaboration and messaging</li>
	<li><a href=http://vernbzrr62wtwvddjcpo5stg7mp6mvoi7y2hkdekvextwb66mj5q.b32.i2p>Hydrogen</a> (<a href="http://h2.vern.i2p/?i2paddresshelper=LFqXjzV9nkQADr80zHNrKI4npoRuaosny11RPVVYdbb4ZJgIIcxZzTQHJLKyxgxEAH6A6nN-dU0Xu50V0DeCPVXkB1d-5iPzoQe0~a30cZ3iaEkvRsQcAHSGYGFoeXO5zVAMPzTuWOW6bLyVUEY1hVWbqUMsU5YOiY5XzJXeoDoPA~ELGZUFQAHn5vX-nAfRWzqFJp3XBG4LcOL~y3OzGSXOpBFj5YUzx6emfxroS~QRKTR9ilVRveGuNxGvEZYfC9uCwivEAVPX7tpaR0uY6MECu4DePSaSB3WrdMdlyfI9s7V76VClOsXlOBcJ62Yb24MMlX2SVumQYLpvC3V4b4hAWjsR~6LNgTuDVsKmo7j8btOjz~ND4m2q2-HPbU32LoRVLWKAGyLpTxlsBPXvWPn-zL2zd8J6bRYN90f4IoCgSemTl~NLB-GdTdoQzamUEL-~fp3hq2RtPlbgTRRpXcXymCaWbHZCn9Dmgjros6YxkpD9JBbwUFFUPf-uFKT3BQAEAAcAAA==">Address helper</a>) - Lightweight Matrix client with legacy and mobile browser support</li>
	<li><a href=http://vern54jxta6pdm4zduragtjln4lybvrkuymmdslxlnec3sxur36a.b32.i2p>Matrix Federation Tester</a> (<a href="http://ft.vern.i2p/?i2paddresshelper=q6q4id7M0RYfkWHro8pEtlUjhUWWNSoytW9oVB8NqstzNNiM9kln2xzjHjzTula7DKPAi0P957vVvq0bzKMnfV81KH7GtTz3G2n47m7zXuEKpR-IKXn0yqr9D-ERrMAB9wcNtR6kMLMynJtbI5r-1-sYPg49GiPFxgNn4vxrZPgDP9sAM9TPFBLTKdnWbO0m1or5z9UIEjtUi1KZcnYmyCYJDTuB~cQO61o2eTLevmQv0PfEID5-ucBHEZLGSmgbVxbv-4ds~-QsvdM8~P6jiXCklkctG2vBXX3PQCyevVHedWETeAueRZp0GoX7FkXCA28eZXXnO9ngb13LCIM5yXpURT~0BLuSTpIbIbvVNH~xGe~7ZqDUE2~WDvUhk8NW7bFIpbXrN8H71l7JpfH811n9TgksXSZzyqvwPD2lHffobmPVB96bpdMGCXE28g1fKuWj8ovL3uom~ggQ70wMZmZDLa3GHhCBNioxOmsOKC-sZY8bIi-ORrdaxATCgn3fBQAEAAcAAA==">Address helper</a>) - Tester for Matrix federation written in golang</li>
	<li><a href=http://vern4l4bo3tzed7niopxkfijgbyod6vc7pmqrhice2mjvjfboqua.b32.i2p>Matrix Sydent</a> (<a href="http://id.vern.i2p/?i2paddresshelper=PGXeiDEPYUyE5gVY4dbn7ajzWv-ni3cacOjbF0rGddBNTozhnw30hHkFeqZ6aBFl93bhomJuSLwtV4SlUwsqnoEToY2wF5tD9gkA-5JIqJr3YnqONgKGt-SFZVWNjGUc~opoDyAA9xyPBb2VXs4o2MpKmAl5wzyPwzW65to3suaj5zm-uNm-jDkocWM3iqogo3xn3prt0MY6x25bemgZyFxwjRjIt1I4g2kWPuyPk2xO1a9TMoc5QC~DaO5fHtVx0-zdfA1QfC1K~mC2r9f7lAfk1wMZ4LXc1p7MeFcGhB5CNT4afTrweN~QJfNDgpKBMKuqdfcdbLOrKwepY~afwc9QG6gBHNopm7Lws6~I69hvuME-mNCZ03ZPu--Lekhkf58bp93-wIkkAmRHUj~nnDearSKyMV2cE2MhtByT17Va3O0tiPtlJAtjJZMownnrAkt4pdzpZa~Sl2iyI9r-oVZxy17yElEVG1Mfpf4mh6cGDCgUOFQqZZhJgMd9P-qVBQAEAAcAAA==">Address helper</a>) - Reference Matrix identity server</li>
	<li><a href=http://vernwbp4lxrl7vn5jjgmrdkxnncpfwdzyv57jya2enmw76y4vdha.b32.i2p>Matrix-Static</a> (<a href="http://mvw.vern.i2p/?i2paddresshelper=LJok~jBzTRMTftEAfjhsiYjTTeVR8jwuGZRiJDdCl-NAA2OxM2R~JYEY6TFVfWLlKiw9plH6Qf8-XhIKjIsjtAHmRM4QRuTJnlPi5gDu5NU07vbg1Vg0Y2TD4o7d5k8mbN1ItRKZXxPgWL2oHBWRBToG9wAu-DrFLqMC8oiqjjiz30PHwey6b05MNv91o47Xht3dN8Zx~qasSFseCLT94DNYMXlqWtexKLodzOcypZlvaQIHgJWLCuO37oxdX64sOI6nV4Ltngp~uDV4GXO8YcWAJCrNUYSw5qr8KX50i~9cDklJ29wpYzPa902d~hqjkXVGx9b5bs5nBVz3fQwVk6TNS042DSB10J-IfHJonVI1FQaJgbkW3q4tfpHPWGqmUwNltQn17EPegHzjHPoW9nfmzf4kj0OGEWco2pIDAuodLInPInyPeXyOGc3YbWnUpBVcjqKiCt3240ORTdwCPXFV9aH-4fk5ZqY5F6USS60OOdp4ZrpntXFkyAFQ5SxuBQAEAAcAAA==">Address helper</a>) - A static golang generated preview of public world readable Matrix rooms</li>
	<li><a href=http://vernzqlne5hobeijxz4g7u6zpejcdemrnqra2eg2sge3af5qp7qa.b32.i2p>Matrix.to</a> (<a href="http://mto.vern.i2p/?i2paddresshelper=HYV-2sze-BiMUObVpAX9ins12jb3G9StUTbgPHzKn2Pg8TvPjp9jm0sjW8d1Cvh5EEKUhnXKgus66y2WvXNlM-UwWqGFUi~-jhTpzvkEFHAA3wm0EO78faiPpuzl6dJFQ2h6r952354CSBaDyYCE2vOLyD3tmLTvWKQ5siDar09sQJdfmmmURwWhJF~oA5bbhuxA5iHYRfaBTpIeRUeiKkD-6yz3BiN~fM~cfFKwE2JTwmG4NlV3M896UTCYaRZ4ojj9h~SGAYfL5WSHtcQrInjFzbgSPxSyvgpa4ub-SQnsJcbSWgbrF5dh8K4pcmMa4dtAfwfbmu9b-y879catY~tq6nHOmeaX2TAUHQwG5dwT9PighNqLXiBCfe36tB1v74Qw8G0uNGh3liozcOmddPMkue2GW3u~EXEmPmr9y5JSsg56u-wavzzGOrwLWQ3tnUYJEL3xGhhXOOUNitf355kvMi7UgSLrvi0dlEAM7R0zwUKmXjk5Mrx~Ju7bNXzSBQAEAAcAAA==">Address helper</a>) -  A simple stateless privacy-protecting URL redirecting service for Matrix</li>
	<li><a href=xmpp:verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p>XMPP/Jabber (Reg needed)</a> (<a href="http://muc.vern.i2p/?i2paddresshelper=fJbwYs6~GEDyIJXPo9C~A2DR9KWwNeJaqctRCb64NAK9yd3nMpHdhMtkf2XSLVhVkp~iPsD0IBxeVdNQSkVhiO~7iFspHoFRQaAXCVhSn2kQLCwBUXWLtrzTEyDP1s4-EwRYFlxD76YI4EXImvccHqLWfn5wGbNLOapjVRtp0tgd94VVRGrHwuxIYpQx8YMOUmd-wBPiA9A5aavBWvhF8ANvzHwvCpuOkCjpcpBNfG3bIsc-8acOCXLU6~JAfWs2sK-Ww4S86GNFQCm5kbRMZGeww76h75eajs0typB98WNyNUFYf8f4VZpYeOQCdjZtrOA9-sVlc2mqMyBk-8DpiUr6DVuODtilr75cNLI3U~UIJRvxmLMX5eDoqQckx8HVW-kRGU3Dg~d0CIQW-LRfGZNP0sjCCLdLcT-~IOevGR0TwiaTXGOjEIH-mcWpIIcmzMMKXtigE1iTNoAyzxC0SzNQEloOX6a5bPt5c-qyMNEmySWo6iKns1V764TqXlzVBQAEAAcAAA==">MUC address helper</a>) - The universal messaging standard</li>
	<li><a href=http://vernd6f2dxbwfwp4fbkrdz75k2h2wyudmvwrqkrgkawjjrm72z3a.b32.i2p>ConverseJS</a> (<a href="http://cjs.vern.i2p/?i2paddresshelper=k4zDH2EUvSxpm4hax8CmKvKZr3UJ2t9u3sS3zy76BXvGqId6i3pyuEVP8LT0uKxrSEOzHOcZOJPZ5iBIYH4wXQ46iDz3haOW8HvjAAhkKOUxDaUwk51LeMx7p2~xQu8k59B30YCvXi2Ho2LCxwxcFGy4KUc-mT6EVpRhh76QirwlBKO~Xn681d0PtdHDvFFRzX8VHtO57S74mQceodTfmw9QAOYhl1GrjsJldIqECQS-03NOHjeMPTYXYZA0nAa~~pHBnnwoiBkdUglg2DagIidLIFupzrMybCWP1BiWHJEVSvO~2zDsu-g0dVvI4FKzKPcG8hAOZDkNn0acZpzrxz66j4Bk7lLLCTdIcgI~R7VAC47MaidK7AXv2KOyhY1AivNg~msMIVWmaeMW4oheCo-MlyxKeUhEF~rv4x4LBjsbuwx9z74pDLmwClg~-VjVMcxKB10SCfQ8T8MBfzP9X9s6DFvoYp8cGfLPhDsbWE7MpRTsSROpsioohweJOncrBQAEAAcAAA==">Address helper</a>) - A XMPP chat client in your browser</li>
	<li><a href=http://vern5vicrpk2n4knr3c2qfyu5g4cjiwiulqa4txrriske7vyv3ta.b32.i2p>FreshRSS (Reg Needed)</a> (<a href="http://rss.vern.i2p/?i2paddresshelper=BzRZQhMgx1AI-XSH0PEpIWpTVsn~lTThaNFTb-49vdhbCHQvxaUiGkD6d8V6WWiG29~r2TcORKxGO9HcfgFnd9j8uKSL6-mvOAzsxcThxcE15-DuJ2BH0pKSmThiNvWQQkCAQPtdXCEXsTaD~ZjJ7KJfdYh-6JwoModhjAsRTgMrsm2-CdQYKR9r486GMqJqb1ZuroBg41W9KBsYToozsYt0VOYh82amz7TKZ4fCpiG~1IS0kTvSPlX3DLeeDFOIyn1dRPtb5Z0Qy0AhF9V4fT-COTgbscD7YpkqUSjhvLGJ~9LouMIqrd2fGy1J67BWy4m7gcMk6UYePd4voofE9Okv7XjUSfPAT5nAhYxW3dal3fWXG4ugzA0KjnWK0pFRoI044KbvBABYE-~466wxLk5~zGso7nqrAJnEi~d6NIl3azoLcG-MNPLXQKJcVqLeJWg729bukGOUPBZEwA6Rx9RvX0ENp3nEX3OLv3rug4XDZtJImr1s5toZsmLcP99BBQAEAAcAAA==">Address helper</a>) - A free, self-hostable aggregator</li>
	<li><a href=http://vern4yi5vpg5cp42pwxndb6jingckjofyxxvpwaonolqmn74wbqq.b32.i2p>MiniFlux (On Request)</a> (<a href="http://mf.vern.i2p/?i2paddresshelper=GDffQ9y4-nL7i~Lfr-CwaTsZsWQAQdY1spOpmcYpF1ZDsXwy3djPipMr-X~lEnrqZszvvONNSaHo-EAKBqnxhIF6nF94poZICAkQ~sV~dJv-OGxdgK2rEahxkUPpJEcaQc14ShEzgSso4xmAVPLgwmOvA2W~pP3v6MIcHM12T6ua-cD~1-gMTxR3lKQ27zUujQPDlxEYVJuL76YOIpBx4my7xsrirhKleR0O8TbMVeHsl~D1hVw8M51KnDmC8yhd~MAfp9UwOfI4NavtdIHsTx6NrnyGh~b-PFJauvYmWrJiqZ9XAQqxPqyG8n6jM~4Lff-DPBSG0Bz-HpsfyBDhbNWU-FpF1WMlez~O54sy49PbXU9fgBg4qHZ-63f9Su7-P4iPUt9yxI6RIjv7EPP-20J7fR-nl-5CBWW2-jpVeEunXiEjuMUXqyNYnKUkmIJbPHB~7b0IpirhAcDibCH2Qp2mS0PxJd6xFxWesY138FwYxGZj5iRhXO7~baH~f9XXBQAEAAcAAA==">Address helper</a>) -  Minimalist and opinionated feed reader</li>
	<li><a href=http://vernz3gvdqo6dtfaqmbwqrgzfmhwblfbonvtumo63f3q3h7cr5eq.b32.i2p>FullTextRSS</a> (<a href="http://ftr.vern.i2p/?i2paddresshelper=ugZN4zH3nbtNvYzWMdBwIrVOFrBlJsWEyU-ub4tTjkRWS3dK5b1ckvZ2zKjHoqeAiAGULxQu7ynxZt8ILKbfkunWpNrQSVALbCG23GbRigV~A8gfGr-N5PLNyEf5K3lsTMxbP5TC67uYhLWhN0Lq-HOhbwISSAtjV2j8L~YPsikkulRiEysCFGI4ScS~ELxv8pNhfie9PJ86Nq6Sf7gaLEHwXnjyGhVkQnBFEkmoRnoFzgUkbjHity7FCefyJp02rezHR7WShkwsobewfDO~AAm7m4Ychdr~COy3IeiR55a83tBDN6swvqu~U5TG-d-O6DhfPn1nZjfIO4DZZn6SizvH3LP2GLP~VF02a7owKOoaytyMh~YyETPTJJrlypJauwoM6zZD0SFnzuIMQ1GtY-po-uFGylMejIXAMdlhc0qERF8h~5Qzm9rYFqLru3tTUW4QG6UQngtbrgr355yLKeoiWWRVTAPFLQlfkrzBmGHoqao6N0QHBhXNavzCGKbfBQAEAAcAAA==">Address helper</a>) - A free, self-hostable aggregator</li>
	<li><a href=http://vernlebgbpxnln2oluosc4hrnjr7byg2e5pqiwi2phhwmudbhirq.b32.i2p>Yarn (Seperate Sign-Up)</a> (<a href="http://yn.vern.i2p/?i2paddresshelper=bDEBXQZzrcS0jEJR6-NQ0fQQ7TL1JdvYQhVtV76KnoyS3MC1mzMebAsSgQsvKRlFy9yiSU2TDMvOIJ-rTSl9s6fEXE1aXvKyi3lL3nIOAHxCQMRXUHD0AplstAY~NlQMrdTucwjf3-xLUlt59c0~oPiLOxNA0n67B0CmUgLWYcg~xXkx-Rf2aAv4h55RDAXhVsxHWWiDPH0xXL7t7DptZmptRwaqZB5jo3kBPbIN74tSdeAMCoTI5-ejnsoZa8biNQgDhDZPXQRlHzplrmKx0X302TSG-1MDcj99QOeARI~uriOC6HsVvs8rMHlUo8aouDHdZa13UdLI1PY-LG7ozU-OPrNApgIhMzO2y3rSnTSro4~zvX3Dq1egb8qrwSex5Us99zI0GRLE5b1ezZCHseYc-uOhv6fuIrNNBSTwfw2J9RFJp6bV7aBTQ1PXlFgo-Y~kqrQvrbnSsl2cKaWBnVUBZ6QguGR0KI90ZnYBf9kXdWm691JnREcn54u2FSpGBQAEAAcAAA==">Address helper</a>) - A decentralised self-hosted social media that has a privacy-first focus</li>
	<li><a href=irc://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:6668>Soju (Reg Needed)</a> - a user-friendly irc bouncer</li>
	<li><a href=irc://verncceu2kgz54wi7r5jatgmx2mqtsh3knxhiy4m5shescuqtqfa.b32.i2p:6667>ZNC (On request)</a> (<a href=http://vernd722rkd3v2o5ppu3aphmfhdthmillq5patn4fa7qvk5ngiaq.b32.i2p>WebUI</a> (<a href="http://znc.vern.i2p/?i2paddresshelper=5bB7duCxzhc43QFrE19C2omvz~Ugl7Ioz24BZK3gehVU0qQueJqVCMVcM0wJ9F915HNXSsQQFRrpNoi4C6AAAWYDfibknVmc8OQn~9~jCJ-PCCrUdj0Yt9J~SGOR3wLMcpXRN6tVl0s6Iw5l2rKVlxy3KWo0W9F0fXLAw5DSEZyBvxooezKbahDLeA1EhQCQLALy4X1gXbdSBNH0Dl~lfEerPF1bX~vZZxRdtOwzot2KvVh614n1IoctC7wDQbzsBxbEu4OCDCsTEnuPF-e5ARIsyAtv4gc6A0rmGLVVV7HnqyCW8vNDilT1Vnc1s14~~l0HWEfWvaVl~-QO656K~E2l1PWdk0yEHoAQlPwYyCdSQFjwtbWqJqQPurWi9PWylZBjUOVXYCAjuBnDaw-WJimbYa8TqFOVWpz7LikwOo-c1ARRANkmdXg7Xva5CIbdFYPy8IVDG7rY~7G2cHiNNqDGauH62JqW2wcOYaih7GXJnUJfzyNRnXyDeZLGcQDNBQAEAAcAAA==">Address helper</a>)) - An IRC network bouncer (BNC)</li>
</ul>
<div class=h><b id=frontends>Front-Ends:</b> <a aria-hidden=true href=#frontends>#frontends</a></div>
<ul>
	<li><a href=http://vern6inmbjzqpecx4kpkq5sln3cqqrfuxfzh4au3tpxbsfbwbnta.b32.i2p>Beatbump</a> (<a href="http://bb.vern.i2p/?i2paddresshelper=ClRoEpWK4WPpSvLYVG54V4LIJMItx4mfEpu2tyzkgRVXIFf6dGsQeh6LT4cx2P25ocFI-ZKf~RjbU-jJlhS1PiTBr5JdIJ6vkRqOt4SvENitaBUyO9qz9hPY3yZ~yNgL~SEwW~MxEHp905YaD2OUnd87ysJZi4mk7S9VhW5XheZITONnB166iR4CoJXl0COZamT7GWis9CKJOQq2qLRJZEis~8wlT7Nuhha2YpH9TNSzi~tn6zQC8WG3PbKlhWT8y-36baHlDn9bLTU7gvoo-jJ~wXRa0lA~ttQeWKWTJmj9wYFgrTwkmkfR-XxTX-eGKTLA0DblnmDvMYYOhxqzBDkyLY~aatuwGcJn4No17Rk4J1ffWUUNMqHOoylpbTSx9H0cNe1FmgKaDW~6bFKKaM6pMvjq9Y4TWC~wmpSr-Flkq1QduQsfLPLaaA0njnQKEW5ebp2CVi0fshN-QihPjP7IgqWymJaYfAw1ZT350mDImCGqBBhCClqQcWuJh7VzBQAEAAcAAA==">Address helper</a>) - An alternative front-end for YouTube Music</li>
	<li><a href=http://vernapl3lpo3huqdx3pjzxqgdgavxjlmdskbvejh2gfqgmjuyvxq.b32.i2p>BiblioReads</a> (<a href="http://bl.vern.i2p/?i2paddresshelper=hwbMjrXlEQZiRSmx4LUQe6uOfdi4Qk9vGKriPJE~HKctllhlAz-C4WrtE6syMdBSCa7cg61D7CwsdxIL28DtVkf2v7d~jmw5cc1lkZ-fARlpyg38LKm3w3w5YVApQ3XlrSuLysTdlc4RX88C4esVC7COZyiYb4gzw4CWFw-T~rcUXAfprmUTwR0XGpWOdfkI0sK0kprFDrlotGyBqmInyubXTXL3Ms~OFiu6vmsQPlL88hIDbtJWjmGRzLU4ahjkHo7v8kSpZzLUmLBSCmBxvQ50Xk8F6EFPe8hFwzzBjnC3AzaYIbOW5t5PFSYA-hTEJjm~WZPRS96PWzO-tBqY-Jx-AC~4ygrWGiflFGPzVRfZf37UOoPsDI0ageoiidN0FZ6REN4cAQ4o9f1u~xmdhLkmINyr442DB0PWZ-7eG6DhgkIcmHX4R-HqLbUh-LWFQCvU6PfzOWmoXxgYJ5eVv4WbCfQlI-9EiLfGRiq3f~lvPqH4R311hCxnN5VHXSQvBQAEAAcAAA==">Address helper</a>) - An alternative front-end for Goodreads</li>
	<li><a href=http://vern3g7d7ykel6suo6fxiqk5ijzof7rz7k5xqcdjhm66vz65ijva.b32.i2p>BreezeWiki</a> (<a href="http://bw.vern.i2p/?i2paddresshelper=QoCUMWcqrytBT8GFVqnPJKZdkMFPC9nYvNDRag-N3~CyU8jNFBp-oLrtgfjkFQ345XuKJxLGbJvRsFY2A1r0f8V18HuZknfQO9zYzEhJjhUitDbEKOp7U1m7jYmJVJGO2yiA~ZIJUL4obsLsGRFGLRPr0oSK0Xx3Z64U7PPdmvsh-SJ~LqPloZMNofnEt9dKNu-sxztAKS~NGZ6w8CdWkb-iBwZwLMy6p8xl6mtIIZR7TcrRvsigIPB02k9JYkSadMY18LOSHzQBUfFiOur70ZT7eZ7PgRaOZTeMlAHQZORocTk0KZqKlESj97U65ZNaqPxmyWZ9B6-h38rRZRvjccMXZ1I3UGBWBS5dUteQKaBmbbR4tAADZZfHTa~NaRvy2kQEWRNPYhsXUdW89v-0V1W6yvcvRVT45jjcPoY5ID0IydCYdajG5OB~u~uhYSOiiyw7M6sNkvN~VQa58eYGDuPYogvhOgYGc4yVknsz5lb0xxmGzcMxs4m9goUYjopGBQAEAAcAAA==">Address helper</a>) - An alternative front-end for Fandom</li>
	<li><a href=http://vernxpcpqi2y4uhu7to4rnjmyjjgzh3x3qxyzpmkhykefchkmleq.b32.i2p>Dumb</a> (<a href="http://db.vern.i2p/?i2paddresshelper=0vbHzZsnrTyx~DKbRfo0r5cJE5IZfenJqUzAutNZRm6~BMBlJ~HA3c9ZKq2qA86DRI0WcsO53Ijago9QrDU7Ayx647Z~3-K-sNEgAJBhC1A3sCSEVMssp12gYitmZIoBCmYR85zOKnB-SY-6RoNOSN7SKsmaybiSoB9lb57ofdMZu0lbiwRT~RQWjlwjKJFV-nlEzaUr4U4kHVh5F28F7MVB-fA4MEQmF50vav7ZFOAidEOsaUplCofAewBJIBesf6x6ddRF7NC4YoIdwHL17k3UqPCLECPmHv7WuIAl4k819meira5tVkNUfQ1TopLjNHPTwO2zmgsin6UwZegjRb3CrubUSuGPU~7jFLyFUSHNcV7aHWyUBRohJRrC0y6s26q62aS53mJjT7c6Fl82ZRVq4Zhp9XVTnhenG4n0W6E6JK7wORcvzavw1CwEAGte8xUlfBgsbV92dXk48GFuLxudrKxrBy5iBYXKHvbBUuqoid0lt6wMm2e0SEdEU9mPBQAEAAcAAA==">Address helper</a>) - An alternative front-end for Genius</li>
	<li><a href=http://vernohu6dvnvssx5rnyckb2vulvczx2z5lneiz6xa5rw262zru2q.b32.i2p>GotHub</a> (<a href="http://gh.vern.i2p/?i2paddresshelper=BoauCCwwCJkSWLGZXDcMJXEzAcuwlU6JgDu1C82X5gLgxUQCBPzs5QBL2UGVi9eT3PkuyJefW1X-2~dXOG7313~kF4DqPC18dSP~Ggio1f8W1oHiB7FWVnCDFMl~k5meLQ4P-bTe9N0Nkx4XAR4cJ~tJKPXPpWg8xUIneOLkcDxqe5vN29H0fOghUX3tnbB2IMvUpolJ3hHedYgaYhW1MSKtXqXO8BE9k78Fgopxd4WJTUhAy7cwLDPSqUF6yR~xwd1FFpWHs86QZM7zXcRzZj29fkkaZaXjQfUAna6rJG-e-nqPtBr6bJ0eBtjgNt~uvm1PIOpVR4X9oOmq2OPu~d9cDuGiRVXSMrBmoKkQYtqXso4BZ7yeeMpWV-VKj84gxxSx0IjpPqVogcWXImcxh9Q4PWwLATgPJmDdWtjWDzGqMZGMAJjrOA7Ut6i6ebQX98oQ5vNy1Agshgh107JZjGuc31WOvrqEqjWZ1T0kniafHAHUeCtZZ8uE7XzKv95kBQAEAAcAAA==">Address Helper</a>) - An alternative front-end for GitHub</li>
	<li><a href=http://vern6p7g27bt6q5d73cxvhgu2gnn6f5sw3nmvqvremqdlvo3aydq.b32.i2p>hckrnws</a> (<a href="http://hn.vern.i2p/?i2paddresshelper=3uurVVhZ4uHE56nssRhFhJV2Z8RmTt5~Q~BiMIuniLmKL1LviDgW3fo3WERsb4KgrBTbWELj3niJ1OAnsRTu0UQF1MimmDJUDCeHqi4bXxUGXMMrhK~tamk3ElAuaEY3nghov6YJaWmhy-vD7ezhxi47Auy88v1HdMTiv7JmeeYBDVGbT93g3yVqEthOBIqjjuOgedCDuT6ceetzGmTyJ0pKHjbluASGMbYUskaiu3gR5nUyqkn-nJLvqa0MPEjZzD-uxKMFqM7IadPMbGoXpPBOfFqCIBBq62XCnT84jhetlrR5zh6iscx-70P6~5qayEC1U4eycZWo-MZiMQJeRhEXz3EonOIHjE6X3OUqVpbEKaM1iBRbELVSa9TFqjS7rY6WzTpHlZ7X79v6FLkW3I7Td8I2MXNULEhbQFfQRFKSQ56RRlU1zn523r-40-wJ0Wl2ofpQSzDq~uqO5d2xOBP-rZSaYQQgSRw3CIlltvJpO6x2tfMApQ7kfPushGV5BQAEAAcAAA==">Address helper</a>) - An alternative front-end for Hacker News</li>
	<li><a href=http://verni6dr4qxjgjumnvesxerh5rvhv6oy5ddeibaqy5d7tgbiiyfa.b32.i2p>Invidious</a> (<a href="http://inv.vern.i2p/?i2paddresshelper=Bl5CsPhxX8UNSo2qdYkStaF-NPjEzMJLUbLrvr3lwijid8MVcrMSnCPHjS6RxZW3LJ3yH9NIfarFAYtBlcBNsW1HQHDpNi9MUP~i1WBWX8VD4CfcSZg0s0~7yfzuFn2IRQqn8iuPj-61NTdy7Oxg1vovM~dXzi8Ag1T~YcELzT9fIwZc8i09dRlLg6lsLdgJPvw-zxLgCNHd7QeM5Q5tn2qDtuaIXGO6bg5V4fi4OIbK7TZFqw5M7nnkNmteqss~FtqP~FxliN0KB-7TwZGPzJBPJw~AfMaF-FCEWhZcfsbR7cTk5qX-aapVjICXJFcbIGsDKBWslS~sfLh4GQHefcXpuPHUhSOAwFvoEqF4L7xE2q~zyUs0NpUwx93CprKO6lioecvO-NdTJBD32aIBPTK6tC8yinPv09RdJEg8TSI8sIKuDECjd~2NjCmigBhWEKDA~Ju2H56pFkTGf6ouDOoD7P-1kJeHuM~EAyOdqJfTPK41i9tDN240dTflm7A5BQAEAAcAAA==">Address helper</a>) - An alternative front-end for YouTube</li>
	<li><a href=http://vernaqj2qr2pijpgvf3od6ssc3ulz3nv52gwr3hba5l6humuzmgq.b32.i2p>LibMedium</a> (<a href="http://md.vern.i2p/?i2paddresshelper=u-DgQIiwK9-6PI~JBr5T-3aoXO3jMVugAsoYZ3tNEoP-bzP2uDWolmR-cYfOJ~UC25c7B04CoN7tBs6pWMWGej4MeNa9gNOaKOWPofMHrKII-MtSYwt8Knc0bgmNQwVzIbrUSgxYuM-yw-tY9Nqt7sA8iiKSwbuGBh4l~UgNrOZfWlI1~qjglIFV7JLTS4sau~QR8S-mLq84YNMjJ6r2fm9xQcCNYLrvy3UAbSI4jLlij59Uwq9dCBKm9I4oro~i6h81WnK0OcH~kjTbNxwIl5d8Zp1LPg7yLY4Vd3yqUumSea3gHmchIgbK~lVs8B77lZhDuchALKEp3ZJth6We2aZ2Cqdvk1mH5D9I2FBPZZu-e9SwTnVCWKFII1MogluERvMi2o4z62zTm8G0cSXePZ8x9PjdxxOZxMBuGCnkU-Dq2UtDg6wQij~YJYKQY2yRZkzMtzGGeeAopxcwlS2kwzSTLJNgj6p79rMbO8UyqtNcfNpwmKZ7WlnBwSsufa~7BQAEAAcAAA==">Address helper</a>) - Another alternative front-end for Medium</li>
	<li><a href=http://vernb4mvgeej5kawfg3tm337sbihdf4i6oy7w4trirgsnaq67zva.b32.i2p>Librarian</a> (<a href="http://lbry.vern.i2p/?i2paddresshelper=~aJ0dvCU8CGnTCNK~2hzqjN1dejvsjQl9TnyU-6fx3I8tWhby-6SUvgVn6RSdH-hfAw94a6YG1oDT1dNrdi~F5mjqFpXL3uB2wPOT0t~oTTD1PXTjja7pKt1URn4~mmJ1zkekLeGm-1qVoIjqY2SI0O4yuU9BiBFluuYRdFLpTBS1yp-al69sUnvz8ATBS6LmsxqfgnMi5pK4nJJ78QX-uwiTWXOTeJB~wK3qE9BDisqoUk0lAXZHcZJ3OM42VbQe5QmvR1a7vb88dY~Vz1EvyShZzEI5fCTVaqXxgndhHX2h8HG~8uwv4EiUG3qZ2dorPFNzIWZ~1zq-uxil42U1w50MBiL1mSd0FkB4L~bNyZ0U4eEBUhu8fTrR3YOfes0W7ZNJc1HdIQTa1dgNt5gfT0FtZZOIeQ6dCdQcoPtT9~I5sjwB~6VCT0jKlBU8x1A0MTpdnWV8CB5xkWXY5BOMM1BO2SI8v07l1MufF~B5oE23ffVxVl2-BB7p0JSUzhMBQAEAAcAAA==">Address helper</a>) - An alternative front-end for LBRY/Odysee</li>
	<li><a href=http://vernchoyi4qjf6sz5vi57sskoelw5lsf53u62i5uvktzpa6sxv3a.b32.i2p>Libreddit</a> (<a href="http://lr.vern.i2p/?i2paddresshelper=0U73L4kx5lSBfantzfCBd5cmXhRQmlhmyUORWhNzWtLKG12tpNc23Xff2uFXxm1IGdxYkenvDQ23V4b0FuF7119N8NCniTT8~scfuvRfZImIXISO5klcSXKzcVCHgJC0LIfuC7saNl5AiOcNM3dIix7jmBvvoJUn4PuRZFdmI5U7~9-czgE-uzUq1IUcAjwykeXygh4zhb5DTiykivBZY3IoYCy2JipNKHkIyJfvfwNziJjc2nXpqJht0VSCH~~UPq1l3yQfyXy3p0oMrkYR0rhmwp5ikcDYZIK9m1YgJo8p0xyUEOafcn3IudOh3PQ8Buh4Mn7R5gy1tmlBB72v0b1xwhJ~jbDJ1syx6aBhbHjp7tZoyVUSpoWM32N~H0v9IksJthwf6Qg-mMnsG1rW~nV~er11sUYNEbGM8WA2i25dQkSTr8LERBIcSQzsyKW9~J~VrSk6M1WQwkTnbcAbimxh~aIrSV5ymcj56hMugWhsA2IGmPNF2GDQWEVbtFdQBQAEAAcAAA==">Address helper</a>) - An alternative front-end for Reddit</li>
	<li><a href=http://vernz3ubrntql4wrgyrssd6u3qzi36zrhz2agbo6vibzbs5olk2q.b32.i2p>LibremDB</a> (<a href="http://ld.vern.i2p/?i2paddresshelper=Ruuf9nd2isRebC0kS18vtzM3pRScKisYEfyyabNROiuiwdIHF0yO04IjjcNalfHNEsPObnYvemGJ1746lJ7koR5KbqY47AkUrUdtMcreRfUGwRm-mUcoGo8JlC5-WNNNDrdxm0dVxFRkY3~RutgmpIhB35qJ0kPe4EovmFssflSJS7E9osbkCJWRae2KaZyLJfk3JGGoWFTeIjSXANw4L7Kl6D3Khf1cMzyk71G~TiUgfPnjoluFrWsJYIml692~XrxWlUPvpLEJ5WKjAvVskaZrCW0Bkxd5d6rRjosXQzwhkRUTiZgKYnD3QdNm3CdHrqlaPModq0-8FZTYutGeYnmBoDNGwcdfHT8z5LqVTGBXqrg1gcnmK-ktudEhFV0fxOwZqJgDnMFJ~9aj2vUJB1FamxPz9gy14-jWAiXylEeG7cUjsKpSANDhjstJN95qUz8mrlsmCKCbVoty19xbejZScByL1G~WRSNx8rXb3vO9DZzUfsppDtbJ3~gxwkzFBQAEAAcAAA==">Address helper</a>) - An alternative front-end for IMDb</li>
	<li><a href=http://vernf45n7mxwqnp5riaax7p67pwcl7wcefdcnqqvim7ckdx4264a.b32.i2p>LibreTranslate</a> (<a href="http://lt.vern.i2p/?i2paddresshelper=~A2CS5cZCBaR0uLUdeMAyrYkiSN-CUPbb8W8qq99IasZLtz5thpaGavl6lSEgojcxWZ0LtQ4mkkFk2C~IF-yZO~iCUkNcBLUT653duYdw1AhaesQyzTBzuegAfsWljECz9snXa-xKdmQYXOYMVSd-uCWHnkNyznQ0cA5FpOcZRozUoczlg4DY~8Q66Ib1NhVMlMyTcm2TjZUcr063ojPTTeLURZPFPl2xbSBoq5wsWnKSQmtkaOSNzxJOo-~K9cBJOEs~c~sCrxJfuteeY2SjqPoE~6eSl6k7uZNAd49IvDnPGEw1zb0gkQLNwn8KnmChkeF2J335pGwjyHbYH8Ac~w85udWhlN~TfvTHxBmwOsozcBiOSsGs33y51w6St01ybeAcjjRKiya9c9~LN37sJnlNreQ0zWEW3XTFxbjuHwilYsGf8sFqv6sG1K-6kbAZd7Js2NjiSeO28RmM1vxwT3qSvOgXrimd1-O2BPVY8uac7RLBxLrTSkN-2zRoeTUBQAEAAcAAA==">Address helper</a>) - Offline capable and easy to setup translation API</li>
	<li><a href=http://vernziqfqvweijfaacmwazohgpdo2bt2ib2jlupt2pwwu27bhgxq.b32.i2p>LibreX</a> (<a href="http://lx.vern.i2p/?i2paddresshelper=7etEuQdh3-j~YmT422p~MjCWgj84lPbo0hkfoGTjotdKG5em3OIS5nvp4ooq4KD72kod8MyFSrWOUcqRTcEc8sJm5zVMocbmMbxKkFyehpCqq7s3n2QLd-P1VFg9ufTcp7kEsfKhKuCi9CtAEt87RIUhLIhPkdvLNw21Oxe-3Y~jcZ1FutcXQCm9TsyEkEZBVueqBM1akm~wr0mY6w~d2kTXvOZ2l5xX6UjTFv2t6GAh5sup63V-FazU1tL~EQOWuhR~Bv~i-fBqRlvqMJhXn3Wkx7Nk6Ql9cZa9-UKCLX8u5DWxWDQl78WTr~ROb~uSNOAWY0Ex2PZ9Y6KTTMrVPtMcvqZ7nQ7rVEQgHqUBlFmLydso5s8l8f1~x9FfaYdc3Opj-Kebg8FC2SOgIo6ZoGvLvMf-TT70N-L6DJv9nuap0h64sAa9CkkH7ytOm5qZcp2icCYBIMQTccq8w4VF3OiKwLjyMdhfULjLkAKi6oefAQjh52T5Z13O54IwwKYfBQAEAAcAAA==">Address helper</a>) - A meta search engine for Google and popular torrent sites</li>
	<li><a href=http://vernzdedoxuflrrxc4vbatbkpjh4k22ecgiqgimdiif62onhagva.b32.i2p>Nitter</a> (<a href="http://nt.vern.i2p/?i2paddresshelper=yxgmxe2a4f2vk1JkoC5ErcdNiN9e7ajPzgImNoqURwxyHhh2Vz0tpeX-mkWOvL-wIZ7B7yhOwVZD54C6J20bn4ny6tc4yD01-TTakxM6NN7NN012jgYwTNF6lCtfZb6pp-HdNbGqbSdNNMyCN52M~28hKBu-7ccAaQBcWhG0whDRgX6yGCpI4Dfm4aQppwf2asFtLATdSnHNh7ko6Ojpe1cJO2fEiHXg62qJxb3tgk42Pxs8GEuDp1~Zif0DYtvTZyj3srr9BvTF2KsZsFLyWwJHb7LiBnFhnG9YZX-CqtSl5JDcNv~e2jyu4M~28sQulTp912b2y8favF6SqsSYl1C~BbCscJnLj3Txh6dNDTXbEaUINzWdLFXbLNlWOXAn0Yj50n5stWmXx2zxANaS7GkvtHTycbF9lbbmarzuHLDoE0kkCx9BlBF7mVMcNWBYs1faqaPFeIoArcZ~E5sP3FiWQw6HALCXp4yhytGYvHoThkfb1EBpbzgOHrMDsk0SBQAEAAcAAA==">Address helper</a>) - An alternative front-end for Twitter</li>
	<li><a href=http://vern2dwmqcksmq3oe5kynqc6gy4btviaimqhr55kg6zedjckwnoq.b32.i2p>Piped</a> (<a href="http://pd.vern.i2p/?i2paddresshelper=UE1rGL~DNPx-i-aY~dCKBKxdrjPXBIHrwgECaIuxGyO3dZReIOemvvdu7LKrnz0qpdZ~B-D-m~25ENSN7rffnduxABjdgfR1S3kmyaihB22yE0-9Y6hrMI5icT9oVVyhHmUvJx0kO2R1AGvyKcGp1jg6Gm4092Lik9ycendeVChJbm6gIeS805BYuI9fE7TpP3gKpW9HzrUCiLEr~3ra8~RmE4lbftIHRDVP5lMMqJHyz1b6XGy91nko5rfRgjCkNE2uKv-EQ~nqI9ngiRF1YJcuwsIKv-5qiTux5bsQPRz-aN0DGIjpTy0Q~E-it4KmQ-q9ymbt6M1tJ7pldNq3Zb5R1qVJtgcyicnhj4TQcERIpGAwEhVgw2t9Kaka8f-wgsoPMXdqXfosH0c4B4DZz4mZPnZIly9NGMoYFWALHkzakGQm6NQKfA76s1jMuTM2cUz7g3nI7u0sc2qPHNWcR64UAV9e-N5FYdWcu269EtUQVqgevd-wpBoMicNbhS6uBQAEAAcAAA==">Address helper</a>) - An alternative privacy-friendly YouTube frontend which is efficient by design</li>
	<li><a href=http://vern2gwxbtxzhb3rgchv4kbhlqppijhjqg7rmgvp4c5bxihxcm3a.b32.i2p>ProxiTok</a> (<a href="http://tt.vern.i2p/?i2paddresshelper=BzCUzyMAfYfW8OwTSRNZqv7tkFH6b8wxKpyIc64aA~bOo-jsMG9BC6im64f3W7jQhu7YDu0pbhxeGCwk6Sj2gAJmTvStIohCqbpadOIjZjQW53mGexTSzV1H612PUotZSZHKnYpV30BLtQn4klEDJxBCi0tOQBXH6bLgFP~wAO71LWr3pFomWT3fKbc0Aoi0PZ1yXu6402uTBEvupbEXbapglM4Bs~5sZ96pdEO6k~-Rzy6psgVYd5RY8r8aV92ZcHHdwngtaWWLoBhPg9OK3Uv8zwRMSGz6rBJu1XhvtTYD8sfMU-1iKFsU39CnlpT1PFcK9zY7FXXnWPCDhYQB3UT0J2k-bmy4FM0pLnTcaNi-aqsY1GTE-G7ldIrczj5hnHWcxUL7COK6euOqkWnK2GAJbTC7BP2nsXhUtu-NzusBAETeLkItx7CZhaEkQZEibJ3v1wqeGlahWfROl-oDwOy3-4tzR5tGc2hSmqjOJu8vT-q43oVzULkAiyHQMEW7BQAEAAcAAA==">Address helper</a>) - An alternative front-end for TikTok</li>
	<li><a href=http://vernnflenvsqccuanaun7yydnmturi4jkyxlyzhn6ultpje66c3q.b32.i2p>Quetre</a> (<a href="http://qr.vern.i2p/?i2paddresshelper=8~I39KBXP845Ov9TWp30TxYClGZknYcLmY5hBgWs-ayOd1GgRrYNrPCTI2sKB8k-49QIbriPLv~32QME1HCdF1hbhMCnYxrBhfSW2MBBoP-0X0xAqrcFyn2DyCtxKoVUuaAZIZGkxV84~~~T2O9ambvSCfr-1R-HztfBjrGboy~4VtdYr6q3uhDRh1Pn8IHjT1GE7xvTwg3VT3c6VAL0tJ3lfS~uy3EM~OQrX9glqWAf9rh9qdWfhxrJTYicPfAp787KY4RpI9kqeYIol9uCRZTUhtg~fEKWwzKxEaLEe0fOP~2PQKpNNUpJ7sRFbXrrGGGlprrpEbu6HgoloCY-n012u4b4hcLl0daW-QhF3QDcaC-QISBMRL7hutl6QNq-NIyhviPVYPUWABN8A2FTZ~85691zEpUc2Ua7wM8whZzzVZEHf2wXPIVRrnNLuXBHpcebbafzgudlqpymTrZSoLcT8~H3KaD5FpKR7Ml70Wpv7imLPQEVMLybpaoGBAWaBQAEAAcAAA==">Address helper</a>) - An alternative front-end for Quora</li>
	<li><a href=http://vernu3bfx2rvpuaccs5q27yncv6srdijkan6ixbkvyc2lsbrslxq.b32.i2p>Rimgo</a> (<a href="http://rg.vern.i2p/?i2paddresshelper=sfbCMTs1JLmWDTXmy7lr3kRE82RvYLkbnZ-xD5IJAMkRZxO-PoKk4Kf3UK~PF8bdD9yE-S7cPO7BXHQuAAO4d7rNJcO4z4F-biSlw7W2gY5zfRDsUwOfXIc3nIk6fO1HeWTlesYP2U8jiOyD2PiF-XTDtejTPieYxktXWniN8UfVYY0bJbSZZEVCLyHAeqwxpJdcXKHQOeb5hybth5oaldM40z5umaCWyHjOM0Q~jRqfH8sXM9MBD9sZp6ixJkHj7RRPLki9F7Qk2Vg1Slwq~WSeH3d1jmQ6p7kYW6ILusFVZZACGcOaDhDc-vMmbeNj7QJqnb9a8~duZagZoEBnFRWFI9fGhWSh3lneE~KHETntq77fDgmPJeIq8~aOYHmkP7SkBuhlrbwob3a4aHFFNTdOWYu8vFydcWAZTtafB5HYNHjigklfvPrmBW5D1Kw8SAS2Zmxt3CRvWcQxZl2nKi0s4FNl75Qq4HESrznEa~XCXHfjqDbTpOvd3gS2vORHBQAEAAcAAA==">Address helper</a>) - An alternative front-end for Imgur</li>
	<li><a href=http://vern4nm37gbhaly4gkoxw4njqoyd5bmkgzjbumtpccmqxlilud3q.b32.i2p>RSS-Bridge</a> (<a href="http://rb.vern.i2p/?i2paddresshelper=lMBDxY8iFpybUTdIeFCdLdwuj57Abqn3arcx9DF18A9FIpUNSO280WfwZJUIn97BzkUMR1oERCOJWIHuoLVAvgcPhS8ahIC1E3~VtZjUYkbiVR4iAdSLpGO2bBPyhIIAfs6p4ROdPV5TwH4ji8lwC3Cw81us~m3h9ygQSbMaXaZ60xzkwrPxrPO~vhiM7z3wS1iqB8o8i-W7lS4IUjWzFMP6T0~poqgBIFSXn13Zjgiif2sfOuam2ElcQf8dNDEoYIw62rKuQXNvn7IUprLbrlz4S9DlzsRZKSEBJFlXYoWGona6aw5exh37X4A9I--dCyU0B~yZELJ1~jcIUCSrGUBQ9vO9I~r6G~rlZyw2cXL-J-JH-Vlqw0OjTYSXNdAm7algq9JM-Cl0a0fzrPuN-DYOC9mKQf7mUe7y2qwy2nT6X21P23GaDok9t2aUGrlP128y11OiaMUbMUMAIvdp1J7FPLhxzJcjeV2Q-1E1m0wY3eqvc5wqEOnXpxXoFHIjBQAEAAcAAA==">Address helper</a>) - The RSS feed for websites missing it</li>
	<li><a href=http://vern3whzyfmjclq6snhlupma6nrmojghwp37tydfgqotj7sc6izq.b32.i2p>Scribe</a> (<a href="http://sc.vern.i2p/?i2paddresshelper=fIadrH9cp96aSUa3h3cp9aox9HDv0xF28BYoFvF9FZ-vPaeWBhdXIIu-N0DdvLt2BfoOYLiq8r6wt7YXPB0lgmd0ECQC5UiQ8vhl5xyhaB4d2KPzadDph-PD3hZQEuHNYnenYEzEuvDl--ftHyMG3wAMVfW99GqYBcm18DtZkDmzheGGfxu7Hb59t-ZjyPj8vsrRGkOp8GikGlEBY1nS8u7rrMBCbjFB96LtxL0daf1DXzHt82Ainhlmzx3mALUSANLwCwpF5LQclIven90DAeBJuJMV22XBjdhSNphVm8zfBwyO~ApOcoaskTJFPwlcvPPaCNhSR9hUYReAbedQ37VfdI2yDz30sRACsm-gQfSx1l8o-2i3LdIcsW4yfQm6Iden8RYWyL3LT-DptP2jsAg2BObGPjf7rpkvmA6cqkOFdSCMoQzt6GOD92OhPaeQJg9ahrhMMJvLGqdoiM5lCiNfBrhU-n5e7A-XyfQsyYCOsjTJ2o1beB-HKyWRkIphBQAEAAcAAA==">Address helper</a>) - An alternative front-end for Medium</li>
	<li><a href=http://vernvtyi6rdcmv646in4qb4qkbtdi32f4m7zbkcoyualz7bzsfrq.b32.i2p>SearXNG</a> (<a href="http://sx.vern.i2p/?i2paddresshelper=x3iF8a8XzJ6hiFGf1TgC2Sy3Naoq0bVjZ7EPlMzTuXI1Ah9-lu-c6-GuZxemHogi8O~WeKPDamc0QzAf6t5Pn0MeEO~0oRg38cErBkWVw6Dy~8mAbVdfqvc7QeIqCsm8YgMgt~bqMkBvqMDuC-hfvuE3RKQr16a~FcdBiv9HoQ5qxDD4iKg05ebSryzOxFf7niiGPyoe0D8xMKXskjz2YaiZfT~rjWyzNjz2NYzkYwc-ZqbIzmhOome4HnPz8YAUX3xHD0XLEOBqy0aG6EX0hOSSyvla4pGHD0JAGW4ryz3gwJhXRBOnmZXtgXSwXzuJGtWETgdcEH2eVO3mrj5MXTiYjpvUapMkHNrdSUSNRKUO2VsEH4trE0fkl6cuWtoZEIMwMtgcRrLT5r6krGnB98qf8UJzdlysmpusKMfuGwq2oeE8-cDYSFdNxc4dLm0Nehunzc5Yj3LUq9AX-LNKc3hjV~q2qgPCpa43TDlu7EWu4vTij2AxjbBD2vSuaVILBQAEAAcAAA==">Address helper</a>) - A metasearch engine which aggregates results from more than 70 search services</li>
	<li><a href=http://vernlncxo4aswplv7naacpjvp5ts4uhrv4wbv3y4skufdbz763gq.b32.i2p>SimpleAmazon</a> (<a href="http://az.vern.i2p/?i2paddresshelper=Vni8Xh7eO7Z7LZrFSfO--N2LJyqvDdX1O2uisX~Ihw1F6Ihnh06AEVDoHhAOBB3dHQsXHBwiOROGRIMTDDvuKrlXSyCZ-3Lc1~VIEN~rHSWQuFhi944qpt-16uhGY1LvIWwJ5nwWHiFfO78a28pXK5ejwgvupPheDoLi25TOftiLM88-hCBRuybhLSibL1i8XO80ew4Kmpp7GD641QImCzVtfz6H8DM9jVT~zOsbv0DGr3ceA4i9Ju87UttomY2qbeCOWriYRljUkDJ2vIjnOmMP-G-k8uSa9UMuiswWOLp5o6Ayz0Hm2C7qdg~hjujpsM2-U93EbYSWEr4EXt7Cxk9b7tDlbOg-o8gmgu7QC0kujDT1QItEt12iEVKaeLbtNbCfL9cxjtlD8OJdsWFAcz6rwdeP2XH8Xyk4hqgXQzky9SvXist6YSMvcYbiF5KYrxQkrUllx9qfxx3MUpgBmpS5tyNrdB1WFsrc834~lBgkHKctJtKiwJ6zfsK9a0KqBQAEAAcAAA==">Address helper</a>) - A Simple Web Interface for Amazon</li>
	<li><a href=http://verntblehhel4dx6ntyxkj4mryvic3s3yptzxewzwnldq3esi4qq.b32.i2p>SimpleerTube</a> (<a href="http://st.vern.i2p/?i2paddresshelper=RX43zEeA6NmQNfYawKnn8VMwL9njTvoyj3bJdBWSK4zBJKkM03a7SoifenyG~MAbHW9yADPR~cX3XT6VdonDc6aqQzmo0mAOAV3sxVPKriVK-bNAP1L3eQePhjnnQzxpN07c02a8RUzWVye8M32pM-DjXwuQg4hARK7gwTSCkqm4PLjCsxqhi8lxmyPjRRmwttubsbBrjZIN3lWK7i3R3HtiTYKPdccMUh9iylSHao571uw-XZ0-afO1WKEe93CWMSIgXFarHbIHlJViZAg5MBFwWf-QhnGibRsz8UQIYYuc9rlFRDWjZSZz7P2SNJ7Np3C3jfjajLQUp6k9IEZoNtsNTyqIe746BcNDjk9Hgbje9rf4U2FMNrimMUYJ13ICtYB7DBy~BwZ2R8rlz-3TcwDDZ0bEsSJN3IQDMgNi7UY717RTsU4F5hVkEaSnVNPKhfJexkY7GSN8GJmEphDM4n5WbTcQZuj3UNcSzQO9gEti46zUCQO~e3ycn6OIUORPBQAEAAcAAA==">Address helper</a>) - A Simple Web Interface for PeerTube</li>
	<li><a href=http://verna7avzgd4qqal7k2onjzwxcceqby2gwvya2a2frdswb7z2k4q.b32.i2p>SimplyTranslate</a> (<a href="http://tl.vern.i2p/?i2paddresshelper=ozDx2rB0er1JcFY3mfAkExLJGEnzuNEobnrEAzgj1XEPxiPt1NN2J7xyXjazYRe3g56atFkjjEIKgAYjusvens~YS~Od6zhSfUYjNevJulwEHwBen9v2FxTnLiqG-Z-Qfot1BHHSQV4sXFEfHrrBAH1qPJ014u96logG4WYLBAuzjoHWMwNWcH6zGYMLrhBUgVN8DNM5tuPpRRwTdfVLu3W~hYes0s8G0gqTmQkaVYusoqDugMR8t8j5gAIQ~GjFO0q1yvk4rn024JQA23TK7wsx8LtPJquqDMwdIRydLwsv~3luRN2bKqIu6yXwYvQ4z5cQy5S-zutI7u-7050EAzCEWqG92LJBMf6LFEobNVfveEV3O2YqAqzyPc8CBx9qN8rnrv1urPtugVsVcOKBxwQC~Pb7mJeDH1sBTuumxg2Q1-fiIgZ4orzkWQdR896LM-G~hvqKct0HaA7ehDFGCMegRoZiC~ScikBw-kaB4swfwMF7nSITR5tpyzICHOMCBQAEAAcAAA==">Address helper</a>) - Minimal and private translations w/ many engines</li>
	<li><a href=http://verncco2oaxjikammz4pi7umzp673cme6zuemx7yeeewspwrw3va.b32.i2p>Teddit</a> (<a href="http://td.vern.i2p/?i2paddresshelper=arrnPCbpFzAX~-pY9-s18cOIHjWieSvhSzw7IukhqGDzug7unHh2dQ4uXIIIveJVhszQrYGlNkFcvkapo-Iwo4RAW8ZaWRlCMfFxNVXD1l8yiAMrDgFQ6ErS1hVhv9FKgFYLthNxhvj~aVtvP9aMSfy66~FCHBkmTs199-MtMZ3TzpUtZM9lQG~7JI9aM6LMdNnKBcCTH9adtH0yvuY-HBzNzp8B93h8mmCCR8kWRieg1HWouagR3H6iIOKd4udknC3deTFeTEZgb8mTDu6Y6~HI9SSyiUVwuBjyWMma7YogpJrC8Qi59NFBBPOzoJp~ue-b~hXmH7tcW74m1-xgRKVkJZv5-PC6aKMDKGhw63wacvxz~a0AM50hx0-6uB6QyErV90Pytnk79dvo7mlvvjfZ9vik3iHqCZ7-WEX72Wkl4h4mb8Lp34Hla8BN56EFC~rkgBK5wrWY0cVbeopBM5jTzIiiXEMWouhFikl1~c3EuoraLB-NrWctKVw6FkCYBQAEAAcAAA==">Address helper</a>) - Another alternative front-end for Reddit</li>
	<li><a href=http://verneks7rfjptpz5fpii7n7nrxilsidi2qxepeuuf66c3tsf4nhq.b32.i2p>Whoogle</a> (<a href="http://wg.vern.i2p/?i2paddresshelper=6wjgwtusev0iOQZI2kGVQWrCHjS-xV20hECX7OpJdsmlJSTVzBkNZ~WsCZq2ieP7ESMT97MRxgdKWmw8AuHY6r7Ltyq9QBDc59Ec9f6djrMY2j7GmZykac1p78I4bymaONVL04OA4v4SOOTnTJbeDE7qGmAanlNZPXLzOFK0J7sQaotBdyQka75NlmvQmSpss8Pqr2FUV1zOYxFnymiIERIM6VBDNIoSesXHaQ2P-oxa8YPdMC3h-D4-WrDiKZjv9Lxu7xXMdpalZeolHktSTppfg7GiGcAxn9JQS2w1~MomXodwEBWAkQu8wIvGi87CSyrqB3eZPVwrSgcovOMtw1i3VrvYGOk8n3EMh7SkH~GxJGIABVXJTJ6iiMwj2bI521P6plkUwfQyLfxAE~17nI6XdRtwuBqRqZaZExO~6uq4HcYCmfNIZKXtNttJEh0B7wpbyEjDpHKpHXOLxKacdeqk2ss-4~5f-xI1jQyhFFG~rHf52D9NtYbZFTvc865mBQAEAAcAAA==">Address helper</a>) - An alternative front-end for Google Search</li>
	<li><a href=http://vernesciy2defjsputrjrv6pa5ll6qzrckfffi5lgkumstdojyga.b32.i2p>Wikiless</a> (<a href="http://wl.vern.i2p/?i2paddresshelper=OniLVp4DPG7ZJiHmXN8dwbsuVfBqSLXj1VmlajqZUvE8DvkeKkBSjZHuREL9QeK5tpAJDt1S9w9vC6vRMygIipRvMyaMmBmOvcg4~W9yJLA8FUCaf4RYwsXzitA~Vqgj9yKCgfOpTHleE7RBdTbpD9sioJmNX84oPyn5ryxU7PdITCPi5zpYStyIO6NLAYYO4Wxdhxi55UrRE3YdhsJWQ7JxJ3RcNr~TV8EV61Zf1lhaRDhZYSifNU4R4NClApOlJ7tC3eB25mBXDk2PU3xBH2RrFhDNpUBsrOEtra7D3JsvaRxQytv0iceBsbCPY70ENPZ53W7csutB3JCgE0uXiPoHPp8mw3efq5uyso-WMkWidmkGR3wlS7KXrFtWMwPjp6tKHzqlO6uQFkiGt41XI4RXya4JkfLKlbpbuWWXdJNx5oJMT61NluiLsftWnfSeTPJEt2CeZk3rqHDJL6PsyLUeoTMB5DJicVFzxXTVVrDoHA8PiX5hjKJWmNwPs4KEBQAEAAcAAA==">Address helper</a>) - An alternative front-end for Wikipedia</li>
</ul>
<div class=h><b id=email>E-Mail:</b> <a aria-hidden=true href=#email>#email</a></div>
<ul>
	<li><a href=http://vernczqka6xy7ounc2t72aqgctupgnha2qfr2r4qbf3ik2tcdmjq.b32.i2p>Modoboa (Reg needed)</a> (<a href="http://mail.vern.i2p/?i2paddresshelper=h4zGMlJKZa-oKiivYZfBS-DFjJIU2ALtycveH9Ld9b-kG9NtRulUEWymGG9I2jz1STwhLTAHC~~SiccoU4AiplNGJw~NaE9a22DTv~q6ZEhKWmtIvg-N68P0KwqH5xqNnJgUCnydF9gGYP-9pIVy1cnVkPuEtSKKT~l0Mi1DHe9PTyIAcsGQNn388yreFn8Vxl9ZM14O9pzrM8rtxJ-NwPaukLw4l0cMBs9PT52ZBuO~E3WtPvNlwuPQAfQ9slSYjDc6ZGIquXmkMzW9xMP-3cAElGcHC29xZIWLEcXgW4Qd4P3bExXRWtJLczBKdULwUDYxlT9u2dwurbBqTZjDbjN-NUxLR7oAz2QWJcpsjrLjBSKAqV7ACeyYP2ySd0brBqlX9tQGIIH-ll~~Z4Cozfxy~k07D7pjgakqvK3bYZ8K8EFkzbzdp5j7AEm8ksg~nZ8OV0cKn~6VoS5ERJgVT7c3ieGZ0O4PPfHOcVTYhlRuAX9mlYalowaJ0-WAsp7IBQAEAAcAAA==">Address helper</a>) - Modoboa E-mail</li>
	<li><a href=http://vernzzwbnjy6ro2zg5rxgo7eylkcyi6zuf4hhvsdbwvvxa3grsxq.b32.i2p>Roundcube</a> (<a href="http://rc.vern.i2p/?i2paddresshelper=1Mt2pcS7dDLg-tBBPCqP8WCi5b3R2dYb01OMWSgo76hgq8z~UefN-SmGlO9zEa3wZeHhZ~qIVVcn-Mp~mRARb-lbZhROWZk5dI1a5EmAcg3Gk-04ry68hYOj~RhW~s5ZQ-soaYccB83j8li2HYEJ7H33dcs5e7h1ADDOkn~Y5fILujz4LaYk8lXK~m16UrdALGqJR1qQ-oeZ~6ZtAqJp4QaO2JEUR~1gmR17DIgtccuu7k-gVVsArQ2QqSyBkZRGC60zn7Rosh0lKfDE05ap-1YLzq4QdXWjd4zdVoE8Xm3~RvKPj24VavKlWrImNq~7ZVevfdOaX1LVaYMDQ5-zEz4SfjGZkBiv9W7iZ~IoVoi8dCBP5TEdxqXWOG5D2nd6SM2nsuMkygC~QD4CELsvc5C~TO6Q8wjF9hBuqx615hnRzYjed4ZhLcEUV~WuX3vLq1zIl6qyyZUaWMJr2wvuhsUNsSUKswVh7NQsW-EKIy9rERC6KmEo11s2JklPe-muBQAEAAcAAA==">Address helper</a>) - Browser-based multilingual IMAP client</li>
	<li><a href=http://verndokks33kdmyo23qihg45lb4sinl6f6b34hc7be6754p3b4aa.b32.i2p>SimpleLogin (On Request)</a> (<a href="http://sl.vern.i2p/?i2paddresshelper=KHEco6Acj7jFd~fH1doDM6z8dpoSUdvG0WOgEgtvaIuhDsrNfONtNhfdEdxOgldmo5Be11w5f~qiHTL-IH9Kh4ZkRLSh5jwYy4G0Yw39z2FwM3-56RsuIap5o188PhjcklqKK0JKYVPBLMLsoFpW-KqhYNYBGe4J6SCGrLu7gYH21xjyAulyFwJag4vdfEJBxWueGWypZhtrRXDb77iGIUReA-vPW2B0gO4uc~-cEpxaspwvflR~T8Id1wQ1ijqy6ghTV0JNpO6OvyZCgQX4dMGgPup0SOp8nIeOBxDIms4JHJ27EvPf8H0KUHULQKy5e-qm3bxhLonfwtO6aorZEzMAvScB12zd4N7f8oTm2ESVrRPv2Rj7NSobTVtzIa~hVPMenZ~rRhqS-2ZTsqBDRjd1cbTZyjkN5hL9e-INyJA2qr~LwEvb1Har-dFHlIHqPkapfZckUwLUCrDZeeAKqBUM8GIOOtbAkwDBb4oFk~WKBnDBCxLqZrXMRl~jtFKxBQAEAAcAAA==">Address helper</a>) - Free anonymous e-mail service</li>
</ul>
