<div class=h><b id=core>Core:</b> <a aria-hidden=true href=#core>#core</a></div>
<ul>
	<li><a href=http://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>~vern</a> - The main ~vern website</li>
	<li><a href=gemini://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>~vern Gemini</a> - The ~vern Gemini capsule</li>
	<li><a href=gopher://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>~vern gopher</a> - The ~vern gopherhole</li>
	<li><a href=ssh://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>SSH (Reg needed)</a> - Each user can log in to the ~vern tilde using their SSH keys</li>
	<li>User sites (Reg needed) - Each user can have their own site (HTTP, Gemini, Gopher) on username.vernccvbvyi5...onion</li>
	<li>User sockets (Reg needed) - Each user has a UNIX socket and can run their own HTTP server from it, accessible via *-username.vernccvbvyi5...onion</li>
</ul>
<div class=h><b id=storage>Storage:</b> <a aria-hidden=true href=#storage>#storage</a></div>
<ul>
	<li><a href=http://0.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>0x0</a> - The null pointer. File hosting and URL shortening service</li>
	<li><a href=//vw.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Vaultwarden (Seperate Sign-Up)</a> - A web password manager with many features</li>
<!--	<li><a href=http://pad.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>CryptPad (Separate Sign-up)</a> - Collaborative office suite that is end-to-end encrypted</li> -->
	<li><a href=http://ep.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>EtherPad</a> - A modern really-real-time collaborative document editor</li>
	<li><a href=http://git.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Gitea (Reg needed)</a> (<a href=http://ci.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>CI</a>) - A lightweight code hosting solution written in Go</li>
	<li><a href=http://hd.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>HedgeDoc</a> - Collaborative Markdown notes</li>
	<li><a href=http://mirror.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Mirrors (HTTP)</a> - HTTP mirrors of popular and free distributions</lI>
	<li><a href=rsync://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion/>Mirrors (rsync)</a> - rsync mirrors of popular and free distributions</lI>
	<li><a href=http://pt.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>PeerTube (Reg needed)</a> - Federated video platform</li>
	<li><a href=http://pp.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>PenPot (Reg Needed)</a> - Design &amp; prototyping platform</li>
	<li><a href=http://pb.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>PrivateBin</a> - A pastebin where the server has zero knowledge of pastes</li>
	<li><a href=http://todo.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Vikunja (Separate Sign-Up)</a> - The to-do app to organize your life</li>
	<li><a href=http://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion:8446>Syncthing Discovery Server</a> - Peer-to-peer file synchronization</li>
	<li><a href=http://nc.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Nextcloud (Reg needed)</a> - A productivity platform that keeps you in control</li>
	<li><a href=http://ntfy.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Ntfy</a> - a simple HTTP-based pub-sub notification service</li>
	<li><a href=http://jf.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Jellyfin</a> - A Free Software Media System that puts you in control of managing and streaming your media</li>
	<li><a href=http://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion:18081>Monero Node</a> - A node to support the XMR network</li>
	<li><a href=http://hat.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Hat.sh</a> - Simple, fast and secure client-side encryption</li>
</ul>
<div class=h><b id=network>Network:</b> <a aria-hidden=true href=#network>#network</a></div>
<ul>
	<li><a href=http://gp.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>gopherproxy</a> - HTTP proxy for Gopher and Gemini</li>
	<li><a href=tcp://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion:5201>Iperf3 (PubNixVM)</a> - The ultimate speed test tool</li>
	<li><a href=tcp://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion:5202>Iperf3 (tilserv)</a> - The ultimate speed test tool</li>
	<li><a href=tcp://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion:5203>Iperf3 (Typhoon)</a> - The ultimate speed test tool</li>
	<li><a href=tcp://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion:5204>Iperf3 (Hellfire)</a> - The ultimate speed test tool</li>
	<li><a href=tcp://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion:5205>Iperf3 (Iceberg)</a> - The ultimate speed test tool</li>
	<li><a href=http://ls.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>LibreSpeed</a> - Lightweight speedtest implemented in Javascript</li>
	<li><a href=http://sy.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Spyda</a> - A privacy first search engine and web crawler</li>
	<li><a href=ssh://tm.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion:2222>tmate</a> (<a href=/tmate.conf>tmate.conf</a>) - Instant terminal sharing</li>
	<li><a href=tcp://129.159.49.185:443>Tor Bridge</a> - A Tor bridge to circumvent censorship</li>
	<li><a href=tcp://173.255.236.85:9001>Tor Relay</a> - A Tor relay to support the Tor network</li>
	<li><a href=http://yc.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>YaCy</a> - A free distributed search engine, built on the principles of peer-to-peer networks</li>
</ul>
<div class=h><b id=games>Games:</b> <a aria-hidden=true href=#games>#games</a></div>
<ul>
	<li><a href=tcp://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion:1234>Among sus</a> - A recreation of Among Us mechanics but as a multiplayer text adventure game</li>
</ul>
<div class=h><b id=social>Social:</b> <a aria-hidden=true href=#social>#social</a></div>
<ul>
	<li><a href=http://ag.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Agreper (Seperate Sign-Up)</a> - Minimal, no-JS web forum software</li>
	<li><p>BBS (Seperate Sign-Up):</p>
	<ul>
		<li><a href=http://vern5pgpfjdplnz7yhqazesx62hrx6r6i4xvv4kjshwefwikkjjuvwad.onion>HTTP</a></li>
		<li><a href=gopher://vern5pgpfjdplnz7yhqazesx62hrx6r6i4xvv4kjshwefwikkjjuvwad.onion>Gopher</a></li>
		<li><a href=telnet://vern5pgpfjdplnz7yhqazesx62hrx6r6i4xvv4kjshwefwikkjjuvwad.onion>Telnet</a></li>
		<li><a href=ssh://vern5pgpfjdplnz7yhqazesx62hrx6r6i4xvv4kjshwefwikkjjuvwad.onion:1222>SSH</a></li>
		<li><a href=ftp://vern5pgpfjdplnz7yhqazesx62hrx6r6i4xvv4kjshwefwikkjjuvwad.onion>FTP</a></li>
		<li><a href=rlogin://vern5pgpfjdplnz7yhqazesx62hrx6r6i4xvv4kjshwefwikkjjuvwad.onion>rlogin</a></li>
		<li><a href=ws://vern5pgpfjdplnz7yhqazesx62hrx6r6i4xvv4kjshwefwikkjjuvwad.onion>WebSocket</a></li>
	</ul></li>
	<li><a href=http://ak.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Akkoma (Reg needed)</a> - Social networking platform compatible with ActivityPub</li>
	<li><a href=http://fedi.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Mastodon (Reg needed)</a> - ActivityPub federated microblogging plaftorm</li>
<!--	<li><a href=http://bloat.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>BloatFE</a> - A web client for Mastodon Network</li> -->
	<li><a href=ssh://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion:2221>Devzat (Seperate Sign-Up)</a> - Chat over ssh!</li>
	<li><a href=http://mtrx.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Matrix (Reg needed)</a> - An open network for secure, decentralized communication</li>
	<li><a href=http://cn.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Cinny</a> - Yet another Matrix client</li>
	<li><a href=http://riot.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Element</a> - Secure collaboration and messaging</li>
	<li><a href=http://h2.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Hydrogen</a> - Lightweight Matrix client with legacy and mobile browser support</li>
	<li><a href=http://ft.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Matrix Federation Tester</a> - Tester for Matrix federation written in golang</li>
	<li><a href=http://id.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Matrix Sydent</a> - Reference Matrix identity server</li>
	<li><a href=http://mvw.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Matrix-Static</a> - A static golang generated preview of public world readable Matrix rooms</li>
	<li><a href=http://mto.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Matrix.to</a> - A simple stateless privacy-protecting URL redirecting service for Matrix</li>
	<li><a href=xmpp:vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>XMPP/Jabber (Reg needed)</a> - The universal messaging standard</li>
	<li><a href=http://cjs.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>ConverseJS</a> - A XMPP chat client in your browser</li>
	<li><a href=http://rss.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>FreshRSS (Reg Needed)</a> - A free, self-hostable aggregator</li>
	<li><a href=http://mf.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>MiniFlux (On Request)</a> - Minimalist and opinionated feed reader</li>
	<li><a href=http://ftr.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>FullTextRSS</a> - Create full-text feed from feed or webpage URL</li>
	<li><a href=http://yn.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Yarn (Seperate Sign-Up)</a> - A decentralised self-hosted social media that has a privacy-first focus</li>
	<li><a href=irc://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion:6668>Soju (Reg Needed)</a> - a user-friendly IRC bouncer</li>
	<li><a href=irc://vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion:6667>ZNC (On request)</a> (<a href=http://znc.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>WebUI</a>) - An IRC network bouncer (BNC)</li>
</ul>
<div class=h><b id=frontends>Front-Ends:</b> <a aria-hidden=true href=#frontends>#frontends</a></div>
<ul>
	<li><a href=http://bb.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Beatbump</a> - An alternative front-end for YouTube Music</li>
	<li><a href=http://bl.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>BiblioReads</a> - An alternative front-end for Goodreads</li>
	<li><a href=http://bw.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>BreezeWiki</a> - An alternative front-end for Fandom</li>
	<li><a href=http://db.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Dumb</a> - An alternative front-end for Genius</li>
	<li><a href=http://gh.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>GotHub</a> - An alternative front-end for Github</li>
	<li><a href=http://hn.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>hckrnws</a> - An alternative front-end for Hacker News</li>
	<li><a href=http://inv.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Invidious</a> - An alternative front-end for YouTube</li>
	<li><a href=http://md.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>LibMedium</a> - Another alternative front-end for Medium</li>
	<li><a href=http://lbry.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Librarian</a> - An alternative front-end for LBRY/Odysee</li>
	<li><a href=http://lr.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Libreddit</a> - An alternative front-end for Reddit</li>
	<li><a href=http://ld.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>LibremDB</a> - An alternative front-end for IMDb</li>
	<li><a href=http://lt.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>LibreTranslate</a> - Offline capable and easy to setup translation API</li>
	<li><a href=http://lx.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>LibreX</a> - A meta search engine for Google and popular torrent sites</li>
	<li><a href=http://nt.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Nitter</a> - An alternative front-end for Twitter</li>
	<li><a href=http://pd.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Piped</a> - An alternative privacy-friendly YouTube frontend which is efficient by design</li>
	<li><a href=http://tt.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>ProxiTok</a> - An alternative front-end for TikTok</li>
	<li><a href=http://qr.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Quetre</a> - An alternative front-end for Quora</li>
	<li><a href=http://rg.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Rimgo</a> - An alternative front-end for Imgur</li>
	<li><a href=http://rb.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>RSS-Bridge</a> - The RSS feed for websites missing it</li>
	<li><a href=http://sc.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Scribe</a> - An alternative front-end for Medium</li>
	<li><a href=http://sx.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>SearXNG</a> - A metasearch engine which aggregates results from more than 70 search services</li>

	<li><a href=http://az.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>SimpleAmazon</a> - A Simple Web Interface for Amazon</li>
	<li><a href=http://st.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>SimpleerTube</a> - A Simple Web Interface for PeerTube</li>
	<li><a href=http://tl.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>SimplyTranslate</a> - Minimal and private translations w/ many engines</li>
	<li><a href=http://td.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Teddit</a> - Another alternative front-end for Reddit</li>
	<li><a href=http://wg.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Whoogle</a> - An alternative front-end for Google Search</li>
	<li><a href=http://wl.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Wikiless</a> - An alternative front-end for Wikipedia</li>
</ul>
<div class=h><b id=email>E-Mail:</b> <a aria-hidden=true href=#email>#email</a></div>
<ul>
	<li><a href=http://mail.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Modoboa (Reg needed)</a> - Modoboa E-mail</li>
	<li><a href=http://rc.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>Roundcube</a> - Browser-based multilingual IMAP client</li>
	<li><a href=http://sl.vernccvbvyi5qhfzyqengccj7lkove6bjot2xhh5kajhwvidqafczrad.onion>SimpleLogin (On Request)</a> - Free anonymous e-mail service</li>
</ul>
