<div class=h><b id=core>Core:</b> <a aria-hidden=true href=#core>#core</a></div>
<ul>
	<li><a href=//vern.cc>~vern</a> - The main ~vern website</li>
	<li><a href=gemini://vern.cc>~vern Gemini</a> - The ~vern Gemini capsule</li>
	<li><a href=gopher://vern.cc>~vern gopher</a> - The ~vern gopherhole</li>
	<li><a href=ssh://vern.cc>SSH (Reg needed)</a> - Users can log in to the ~vern pubnix using SSH</li>
	<li>User sites (Reg needed) - Each user can have their own site (HTTP, Gemini, Gopher) on username.vern.cc</li>
	<li>User sockets (Reg needed) - Each user has a UNIX socket and can run their own HTTP server from it, accessible via *-username.vern.cc</li>
</ul>
<div class=h><b id=storage>Storage:</b> <a aria-hidden=true href=#storage>#storage</a></div>
<ul>
	<li><a href=//vern0.me>0x0</a> (AD: <a href=//0.vern.cc>A</a>) - The null pointer. File hosting and URL shortening service</li>
	<li><a href=//vw.vern.cc>Vaultwarden (Seperate Sign-Up)</a> (AD: <a href=//vaultwarden.vern.cc>A</a>) - A web password manager with many features</li>
	<li><a href=//pad.vern.cc>CryptPad (Separate Sign-up)</a> - Collaborative office suite that is e2e</li>
	<li><a href=//ep.vern.cc>EtherPad</a> - A modern really-real-time collaborative document editor</li>
	<li><a href=//git.vern.cc>Gitea (Reg needed)</a> (<a href=//ci.vern.cc>CI</a>) - A lightweight code hosting solution</li>
	<li><a href=//hd.vern.cc>HedgeDoc</a> (AD: <a href=//hedgedoc.vern.cc>A</a>) - Collaborative Markdown notes</li>
	<li><a href=//mirror.vern.cc>Mirrors (HTTP) </a> (AD: <a href=//mirrors.vern.cc>A</a>) - HTTP(S) mirrors of popular and free distributions</li>
	<li><a href=rsync://vern.cc/>Mirrors (rsync)</a> - rsync mirrors of popular and free distributions</li>
	<li><a href=//pt.vern.cc>PeerTube (Reg needed)</a> - Federated video platform</li>
	<li><a href=//pp.vern.cc>PenPot (Reg Needed)</a> - Design &amp; prototyping platform</li>
	<li><a href=//pb.vern.cc>PrivateBin</a> (AD: <a href=//privatebin.vern.cc>A</a>) - A pastebin where the server has zero knowledge of pastes</li>
	<li><a href=//todo.vern.cc>Vikunja (Separate Sign-Up)</a> (AD: <a href=//vk.vern.cc>A</a>) - The to-do app to organize your life</li>
	<li><a href=//vern.cc:8446>Syncthing Discovery Server</a> - Peer-to-peer file synchronization</li>
	<li><a href=//nc.vern.cc>Nextcloud (Reg needed)</a> (AD: <a href=//nextcloud.vern.cc>A</a>) - A productivity platform that keeps you in control</li>
	<li><a href=//ntfy.vern.cc>Ntfy</a> - a simple HTTP-based pub-sub notification service</li>
	<li><a href=//jf.vern.cc>Jellyfin (Restricted Access)</a> (AD: <a href=//jellyfin.vern.cc>A</a>) - A Free Software Media System that puts you in control of managing and streaming your media</li>
	<li><a href=//node.vern.cc:18081>Monero Node</a> - A node to support the XMR network</li>
	<li><a href=//hat.vern.cc>Hat.sh</a> - Simple, fast and secure client-side encryption</li>
</ul>
<div class=h><b id=network>Network:</b> <a aria-hidden=true href=#network>#network</a></div>
<ul>
	<li><a href=udp://173.255.236.85:53>DNS</a> - Domain name system resolver</li>
	<li><a href=tcp://173.255.236.85:853>DNS/TLS</a> - Domain name system resolver over transport layer security</li>
	<li><a href=//gp.vern.cc>gopherproxy</a> (AD: <a href=//gopherproxy.vern.cc>A</a>) - HTTP proxy for Gopher and Gemini</li>
	<li><a href=tcp://vern.cc:5201>Iperf3 (PubNixVM)</a> - The ultimate speed test tool</li>
	<li><a href=tcp://vern.cc:5202>Iperf3 (tilserv)</a> - The ultimate speed test tool</li>
	<li><a href=tcp://vern.cc:5203>Iperf3 (Typhoon)</a> - The ultimate speed test tool</li>
	<li><a href=tcp://in.vern.cc:5201>Iperf3 (Hellfire)</a> - The ultimate speed test tool</li>
	<li><a href=tcp://iceberg.vern.cc:5201>Iperf3 (Iceberg)</a> - The ultimate speed test tool</li>
	<li><a href=//ls.vern.cc>LibreSpeed</a> (AD: <a href=//librespeed.vern.cc>A</a>/<a href=//speedtest.vern.cc>B</a>) - Lightweight speedtest implemented in Javascript</li>
	<li><a href=//sy.vern.cc>Spyda</a> (AD: <a href=//spyda.vern.cc>A</a>) - A privacy first search engine and web crawler</li>
	<li><a href=ssh://tm.vern.cc:2222>tmate</a> (<a href=/tmate.conf>tmate.conf</a>) - Instant terminal sharing</li>
	<li><a href=//yc.vern.cc>YaCy</a> (AD: <a href=//yacy.vern.cc>A</a>) - A free distributed search engine, built on the principles of peer-to-peer networks</li>
</ul>
<div class=h><b id=games>Games:</b> <a aria-hidden=true href=#games>#games</a></div>
<ul>
	<li><a href=tcp://vern.cc:1234>Among sus</a> - A recreation of Among Us mechanics but as a multiplayer text adventure game</li>
	<li><a href=minetest:minetest.vern.cc:30000>Minetest (Creative)</a> - Sandbox video game and game creation system with focus on voxel graphics</li>
	<li><a href=minetest:minetest.vern.cc:30001>Minetest (Mineclone5 Survival)</a> - Sandbox video game and game creation system with focus on voxel graphics</li>
</ul>
<div class=h><b id=social>Social:</b> <a aria-hidden=true href=#social>#social</a></div>
<ul>
	<li><a href=//ag.vern.cc>Agreper (Seperate Sign-Up)</a> - Minimal, no-JS web forum software</li>
	<li><p>BBS (Seperate Sign-Up):</p>
		<ul>
			<li><a href=https://bbs.vern.cc>HTTPS</a></li>
			<li><a href=gopher://vern.cc:71>Gopher</a></li>
			<li><a href=telnet://bbs.vern.cc>Telnet</a></li>
			<li><a href=ssh://bbs.vern.cc:1222>SSH</a></li>
			<li><a href=ftp://bbs.vern.cc>FTP</a></li>
			<li><a href=rlogin://bbs.vern.cc>rlogin</a></li>
			<li><a href=wss://bbs.vern.cc>WebSocket</a></li>
		</ul></li>
	<li><a href=//ak.vern.cc>Akkoma (Reg Needed)</a> - social networking software compatible with ActivityPub</li>
	<li><a href=//fedi.vern.cc>Mastodon (Reg needed)</a> - ActivityPub federated microblogging plaftorm</li>
	<li><a href=//bloat.vern.cc>BloatFE (Mastodon Acc Needed)</a> - A web client for Mastodon Network</li>
	<li><a href=ssh://vern.cc:2221>Devzat (Seperate Sign-Up)</a> - Chat over ssh!</li>
	<li><a href=//jitsi.vern.cc>Jitsi (Reg needed)</a> - Free video conferencing software for web &amp; mobile</li>
	<li><a href="//wiki.vern.cc/doku.php?id=matrix">Matrix (Reg needed)</a> - A network for secure, decentralized communication</li>
	<li><a href="//wiki.vern.cc/doku.php?id=matrix#xmpp_bridge">Bifrost</a> - XMPP &lt;-&gt; Matrix Bridge</li>
	<li><a href=//cn.vern.cc>Cinny</a> (AD: <a href=//cinny.vern.cc>A</a>) - Yet another Matrix client</li>
	<li><a href=//riot.vern.cc>Element</a> - Secure collaboration and messaging</li>
	<li><a href=//h2.vern.cc>Hydrogen</a> (AD: <a href=//hydrogen.vern.cc>A</a>) - Lightweight Matrix client with legacy and mobile support</li>
	<li><a href=//ft.vern.cc>Matrix Federation Tester</a> - Tester for Matrix federation written in golang</li>
	<li><a href=//id.vern.cc>Matrix Sydent</a> - Reference Matrix identity server</li>
	<li><a href=//mvw.vern.cc>Matrix-Static</a> - A static golang generated preview of public world readable Matrix rooms</li>
	<li><a href=//mto.vern.cc>Matrix.to</a> - A simple stateless privacy-protecting URL redirecting service for Matrix</li>
	<li><a href=xmpp:vern.cc>XMPP/Jabber (Reg needed)</a> - The universal messaging standard</li>
	<li><a href=//cjs.vern.cc>ConverseJS</a> (AD: <a href=//xmpp.vern.cc>A</a>/<a href=//conversejs.vern.cc>B</a>) - A XMPP chat client in your browser</li>
	<li><a href=//rss.vern.cc>FreshRSS (Reg Needed)</a> - A free, self-hostable aggregator</li>
	<li><a href=//mf.vern.cc>MiniFlux (On Request)</a> -  Minimalist and opinionated feed reader</li>
	<li><a href=//ftr.vern.cc>FullTextRSS</a> - Create full-text feed from feed or webpage URL</li>
	<li><a href=//yn.vern.cc>Yarn (Seperate Sign-Up)</a> (AD: <a href=//twtxt.vern.cc>A</a>/<a href=//yarn.vern.cc>B</a>) - A decentralised self-hosted social media that has a privacy-first focus</li>
	<li><a href=ircs://vern.cc:6698>Soju (Reg Needed)</a> - a user-friendly IRC bouncer</li>
	<li><a href=ircs://vern.cc:6697>ZNC (On request)</a> (<a href=https://znc.vern.cc>WebUI</a>) - An IRC network bouncer (BNC)</li>
</ul>
<div class=h><b id=frontends>Front-Ends:</b> <a aria-hidden=true href=#frontends>#frontends</a></div>
<ul>
	<li><a href=//bb.vern.cc>Beatbump</a> (AD: <a href=//beatbump.vern.cc>A</a>) - An alternative front-end for YouTube Music</li>
	<li><a href=//bl.vern.cc>BiblioReads</a> (AD: <a href=//biblioreads.vern.cc>A</a>/<a href=//goodreads.vern.cc>B</a>) - An alternative front-end for Goodreads</li>
	<li><a href=//bw.vern.cc>BreezeWiki</a> (AD: <a href=//breezewiki.vern.cc>A</a>/<a href=//fandom.vern.cc>B</a>) - An alternative front-end for Fandom</li>
	<li><a href=//db.vern.cc>Dumb</a> (AD: <a href=//dumb.vern.cc>A</a>/<a href=//genius.vern.cc>B</a>) - An alternative front-end for Genius</li>
	<li><a href=//gh.vern.cc>Gothub</a> (AD: <a href=//gothub.vern.cc>A</a>) - An alternative front-end for GitHub</li>
	<li><a href=//hn.vern.cc>hckrnws</a> (AD: <a href=//hckrnws.vern.cc>A</a>/<a href=//hackernews.vern.cc>B</a>) - An alternative front-end for Hacker News</li>
	<li><a href=//inv.vern.cc>Invidious</a> (AD: <a href=//invidious.vern.cc>A</a>/<a href=//yt.vern.cc>B</a>) - An alternative front-end for YouTube</li>
	<li><a href=//md.vern.cc>LibMedium</a> (AD: <a href=//libmedium.vern.cc>A</a>) - Another alternative front-end for Medium</li>
	<li><a href=//lbry.vern.cc>Librarian</a> (AD: <a href=//librarian.vern.cc>A</a>) - An alternative front-end for LBRY/Odysee</li>
	<li><a href=//lr.vern.cc>Libreddit</a> (AD: <a href=//libreddit.vern.cc>A</a>/<a href=//reddit.vern.cc>B</a>) - An alternative front-end for Reddit</li>
	<li><a href=//ld.vern.cc>LibremDB</a> (AD: <a href=//libremdb.vern.cc>A</a>/<a href=//imdb.vern.cc>B</a>) - An alternative front-end for IMDb</li>
	<li><a href=//lt.vern.cc>LibreTranslate</a> (AD: <a href=//libretranslate.vern.cc>A</a>) - Offline capable and easy to setup translation API</li>
	<li><a href=//lx.vern.cc>LibreX</a> (AD: <a href=//librex.vern.cc>A</a>) - A meta search engine for Google and popular torrent sites</li>
	<li><a href=//nt.vern.cc>Nitter</a> (AD: <a href=//nitter.vern.cc>A</a>/<a href=//tw.vern.cc>B</a>) - An alternative front-end for Twitter</li>
	<li><a href=//pd.vern.cc>Piped</a> (AD: <a href=//piped.vern.cc>A</a>) -  An alternative privacy-friendly YouTube frontend which is efficient by design</li>
	<li><a href=//tt.vern.cc>ProxiTok</a> (AD: <a href=//proxitok.vern.cc>A</a>/<a href=//tiktok.vern.cc>B</a>) - An alternative front-end for TikTok</li>
	<li><a href=//qr.vern.cc>Quetre</a> (AD: <a href=//quetre.vern.cc>A</a>/<a href=//quora.vern.cc>B</a>) - An alternative front-end for Quora</li>
	<li><a href=//rg.vern.cc>Rimgo</a> (AD: <a href=//rimgo.vern.cc>A</a>/<a href=//imgur.vern.cc>B</a>) - An alternative front-end for Imgur</li>
	<li><a href=//rb.vern.cc>RSS-Bridge</a> (AD: <a href=//rssbridge.vern.cc>A</a>) - The RSS feed for websites missing it</li>
	<li><a href=//sc.vern.cc>Scribe</a> (AD: <a href=//scribe.vern.cc>A</a>/<a href=//medium.vern.cc>B</a>) - An alternative front-end for Medium</li>
	<li><a href=//sx.vern.cc>SearXNG</a> (AD: <a href=//searx.vern.cc>A</a>/<a href=//searxng.vern.cc>B</a>) - A metasearch engine which aggregates results from more than 70 search services</li>
	<li><a href=//az.vern.cc>SimpleAmazon</a> (AD: <a href=//simpleamazon.vern.cc>A</a>) - A Simple Web Interface for Amazon</li>
	<li><a href=//st.vern.cc>SimpleerTube</a> (AD: <a href=//simpleertube.vern.cc>A</a>) - A Simple Web Interface for PeerTube</li>
	<li><a href=//tl.vern.cc>SimplyTranslate</a> (AD: <a href=//simplytranslate.vern.cc>A</a>/<a href=//translate.vern.cc>B</a>) - Minimal and private translations w/ many engines</li>
	<li><a href=//td.vern.cc>Teddit</a> (AD: <a href=//teddit.vern.cc>A</a>) - Another alternative front-end for Reddit</li>
	<li><a href=//wg.vern.cc>Whoogle</a> (AD: <a href=//whoogle.vern.cc>A</a>) - An alternative front-end for Google Search</li>
	<li><a href=//wl.vern.cc>Wikiless</a> (AD: <a href=//wikiless.vern.cc>A</a>/<a href=//wikipedia.vern.cc>B</a>) - An alternative front-end for Wikipedia</li>
</ul>
<div class=h><b id=email>E-Mail:</b> <a aria-hidden=true href=#email>#email</a></div>
<ul>
	<li><a href=//mail.vern.cc>Modoboa (Reg needed)</a> - Modoboa E-mail</li>
<!--	<li><a href=//vt.vern.cc>Loomio</a> - A collaborative decision making tool</li> -->
<li><a href=//wm.vern.cc>Roundcube</a> (AD: <a href=//rc.vern.cc>A</a>/<a href=//roundcube.vern.cc>B</a>) - Browser-based multilingual IMAP client</li>
	<li><a href=//sl.vern.cc>SimpleLogin (On Request)</a> - Free anonymous e-mail service</li>
</ul>
