<footer>
	<hr>
	<p>Feito com &lt;3 por ~vern team</p>
	<p>Copyright (C) 2022 <a href=/en/admins>~vern team</a>. <a rel="license" href="/LICENSE.txt">Alguns direitos reservados</a> sobre CC BY-SA 4.0.</p>
	<p>Encontre o código fonte para esse site no <a rel="source" href="//git.vern.cc/vern/website">~vern Gitea</a></p>
</footer>
